@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

.main-view{
  padding-top:10px;
}

.table tbody tr td{
	padding-top: 4px;
	padding-bottom: 4px;
}

.user-info h3{
  margin-top:0px;
  padding-bottom: 5px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background-color: #00e676;
  color: black;
}

.playlistButton {
	background-color:#00e676;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	font-size:90%;
	padding:5px 10px;
	text-decoration:none;
  margin-top:28px;
  margin-right: 12px;
}
.playlistButton:hover {
	background-color:#1B5E20;
  color:white;
}
.playlistButton:active {
	position:relative;
	top:1px;
}

.table-hover>tbody>tr:hover {
    background-color: #212121;
}

.loader {
    border: 16px solid #f44336; /* red */
    border-top: 16px solid #00e676; /* green */
    border-bottom: 16px solid #00e676; /* green */
    border-right: 16px solid #512da8; /* blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 1s linear infinite;
    position: relative;
    left:50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





/* Dropdown Button */
/* .dropbtn { */
    /* background-color: #4CAF50; */
    /* color: white; */
    /* padding: 16px; */
    /* font-size: 16px; */
    /* border: none; */
    /* cursor: pointer; */
/* } */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* /* Change the background color of the dropdown button when the dropdown content is shown */ */
/* .dropdown:hover .dropbtn { */
    /* background-color: #3e8e41; */
/* } */
