body {
  background-color: #000; }

h1, h2, h3, h4, h5, p, li, a, button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 55px;
  font-weight: bold;
  letter-spacing: 5px; }
  @media (min-width: 768px) {
    h1 {
      font-size: 72px; } }

h2 {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px; }
  @media (min-width: 768px) {
    h2 {
      font-size: 60px; } }

h3 {
  letter-spacing: 1.5px;
  font-weight: bold; }

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none; }

.loading-screen {
  transition: all linear 0.5s; }
  .loading-screen .loading-section {
    background-color: #1DB954;
    color: #fff;
    height: 100vh; }
    .loading-screen .loading-section .loading-container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .loading-screen .loading-section .loading-container .loading-spinner {
        text-align: center;
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in; }
  .loading-screen.ng-hide {
    opacity: 0;
    transition: all linear 0.5s;
    background-color: #9B9B9B; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
nav {
  height: 100px;
  background-color: #000;
  display: flex;
  align-items: center; }
  nav .nav-container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .nav-container:before {
      display: none; }
    nav .nav-container:after {
      display: none; }
  nav .nav-header {
    font-size: 36px;
    color: #fff; }
    nav .nav-header:hover {
      color: #efefef;
      text-decoration: none; }
  nav .nav-right a {
    font-size: 24px;
    color: #fff; }
    nav .nav-right a:hover {
      text-decoration: none;
      color: #efefef; }

.landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), black), url("../images/landing-bg.png") no-repeat;
  padding: 0px 34px;
  color: #fff; }
  .landing .landing-jumbotron {
    max-width: 827px;
    margin-bottom: 100px; }
    .landing .landing-jumbotron span {
      color: #1DB954; }
    .landing .landing-jumbotron h1 {
      font-size: 36px; }
      @media (min-width: 768px) {
        .landing .landing-jumbotron h1 {
          font-size: 55px; } }
    .landing .landing-jumbotron p {
      font-size: 16px;
      letter-spacing: 4px; }
      @media (min-width: 768px) {
        .landing .landing-jumbotron p {
          font-size: 24px;
          margin-top: 1em; } }
  .landing a {
    width: 238px;
    height: 80px;
    border-radius: 100px;
    background-color: #fff;
    position: relative;
    display: block;
    color: #000;
    padding: 15px 26px 21px 100px;
    transition: .1s;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin: 47px auto 0;
    text-decoration: none; }
    .landing a:before {
      content: '';
      height: 50px;
      width: 50px;
      background: url("../images/spotify-icon.png") no-repeat;
      background-size: 50px 50px;
      position: absolute;
      left: 28px; }
    .landing a:hover {
      text-decoration: underline;
      color: #000;
      background-color: #fff; }

.landing-info {
  background-color: #000;
  color: #fff;
  margin-top: 132px;
  margin-bottom: 88px; }
  .landing-info .landing-info-box {
    padding: 44px 30px; }
  .landing-info h4 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    letter-spacing: 4.5px;
    padding-bottom: 10px; }
    .landing-info h4 span {
      margin-right: 12px; }
  .landing-info p {
    font-size: 14px;
    letter-spacing: 1.5px;
    line-height: 20px; }

.user-info {
  color: #fff;
  margin-top: 80px; }
  .user-info .user-avatar-container {
    text-align: center;
    padding-bottom: 32px; }
  .user-info .user-avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover; }
  .user-info h1 {
    font-size: 32px;
    text-align: center; }
    @media (min-width: 768px) {
      .user-info h1 {
        font-size: 48px;
        text-align: left; } }

.user-nav {
  margin-top: 70px;
  display: flex;
  vertical-align: center;
  border-bottom: 5px solid #1DB954;
  padding: 0; }
  .user-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 500; }
  .user-nav ul {
    padding: 0; }
    .user-nav ul li {
      display: inline-block;
      margin-right: 55px; }

.top-genres {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 150px; }
  .top-genres h1 {
    font-size: 32px; }
  @media (min-width: 1024px) {
    .top-genres {
      padding: 0; }
      .top-genres h1 {
        font-size: 48px; } }
  .top-genres .top-genres-list {
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
    padding: 0; }
    .top-genres .top-genres-list li {
      padding: 16px 0;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      list-style: none;
      font-weight: bold; }
      .top-genres .top-genres-list li:last-child {
        border: none; }

.obscurity {
  background: linear-gradient(90deg, #FF8F7A 0%, #FD4928 100%);
  color: #fff;
  padding-top: 86px;
  padding-bottom: 86px; }
  .obscurity h1 {
    font-size: 48px; }
  .obscurity .obscurity-header {
    position: relative; }
    .obscurity .obscurity-header:after {
      content: '';
      background: url("../images/border-line.png") no-repeat;
      height: 5px;
      width: 170px;
      position: absolute;
      bottom: -17px; }
      @media (min-width: 768px) {
        .obscurity .obscurity-header:after {
          bottom: -8px; } }
  .obscurity .obscurity-rating {
    text-align: center;
    margin-top: 25px; }
    .obscurity .obscurity-rating h1 {
      font-size: 100px; }
      @media (min-width: 768px) {
        .obscurity .obscurity-rating h1 {
          font-size: 144px; } }
  .obscurity .obscurity-description {
    text-align: right;
    font-size: 18px;
    margin-top: 30px;
    padding-bottom: 36px; }
  .obscurity .obscurity-info {
    text-align: center;
    margin-top: 34px; }
    .obscurity .obscurity-info h3 {
      padding-top: 20px;
      font-size: 24px;
      letter-spacing: 5px;
      margin-bottom: 17px; }
    .obscurity .obscurity-info h2 {
      font-size: 48px;
      margin-bottom: 6px; }
    .obscurity .obscurity-info p {
      margin-bottom: 20px; }

.track-list {
  background-color: #F2F1EF;
  padding: 58px 0px 32px; }
  @media (min-width: 768px) {
    .track-list {
      padding: 108px 0px 58px; } }
  .track-list .dropdown {
    position: relative;
    display: inline-block; }
  .track-list .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    cursor: pointer; }
  .track-list .dropdown:hover .dropdown-content {
    display: block; }
  .track-list .track-list-header {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .track-list .track-list-header {
        font-size: 64px;
        margin-bottom: 51px; } }
    .track-list .track-list-header a {
      color: #000;
      text-decoration: line-through; }
      .track-list .track-list-header a.active {
        text-decoration: none; }
      .track-list .track-list-header a:hover {
        color: rgba(0, 0, 0, 0.4); }
  .track-list .track-list-row {
    overflow-x: scroll;
    display: block; }
    @media (min-width: 768px) {
      .track-list .track-list-row {
        display: block; } }
    @media (min-width: 1024px) {
      .track-list .track-list-row {
        overflow: hidden;
        display: flex; } }
  .track-list .obscurifyScore {
    display: inline-flex;
    padding-left: 8px;
    font-size: 14px;
    font-weight: medium; }
  .track-list .track-list-item-container {
    margin-left: 2px; }
    .track-list .track-list-item-container.track-list {
      left: 36px;
      position: relative; }
    .track-list .track-list-item-container .track-list-column {
      width: 100%;
      display: inline-block;
      margin-right: 100px;
      position: relative;
      margin-bottom: 10em;
      padding: 0; }
      @media (min-width: 1024px) {
        .track-list .track-list-item-container .track-list-column {
          width: 454px; } }
      .track-list .track-list-item-container .track-list-column .column-overflow {
        height: 700px;
        position: relative;
        overflow-y: scroll;
        padding-top: 27px;
        padding-left: 5px;
        padding-right: 5px; }
        @media (min-width: 768px) {
          .track-list .track-list-item-container .track-list-column .column-overflow {
            width: 500px;
            margin: 0 auto; } }
        @media (min-width: 1024px) {
          .track-list .track-list-item-container .track-list-column .column-overflow {
            width: 100%; } }
        .track-list .track-list-item-container .track-list-column .column-overflow::-webkit-scrollbar {
          display: none; }
      .track-list .track-list-item-container .track-list-column .overlay-gradient {
        background-image: linear-gradient(-180deg, rgba(242, 241, 239, 0) 0%, #F2F1EF 100%);
        position: absolute;
        display: block;
        height: 100px;
        width: 100%;
        z-index: 1;
        bottom: 0px; }
  .track-list h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
    display: inline-block; }
    @media (min-width: 768px) {
      .track-list h2 {
        margin-bottom: 60px; } }
  .track-list button {
    color: #000;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: medium;
    margin-left: 8px; }
    .track-list button:after {
      content: "";
      display: inline-block;
      margin-left: 10px;
      width: 7px;
      height: 12px;
      background: url("../images/chevron.svg") no-repeat center center;
      transform: rotate(-90deg);
      position: relative;
      top: 1px; }
  .track-list .track-list-item {
    height: 85px;
    padding: 10px 15px 10px 15px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .track-list .track-list-item .track-list-item-info {
      display: inline-block;
      margin-left: 0px; }
      @media (min-width: 1024px) {
        .track-list .track-list-item .track-list-item-info {
          margin-left: 10px; } }
      .track-list .track-list-item .track-list-item-info a {
        color: #000; }
        .track-list .track-list-item .track-list-item-info a:hover, .track-list .track-list-item .track-list-item-info a:focus {
          text-decoration: underline; }
      .track-list .track-list-item .track-list-item-info h3 {
        font-size: 12px;
        margin-bottom: 2px;
        letter-spacing: 1.4px; }
        @media (min-width: 768px) {
          .track-list .track-list-item .track-list-item-info h3 {
            font-size: 14px; } }
      .track-list .track-list-item .track-list-item-info img {
        width: 70px;
        height: 70px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
        object-fit: cover;
        position: relative;
        bottom: 30px; }
        @media (min-width: 1024px) {
          .track-list .track-list-item .track-list-item-info img {
            width: 100px;
            height: 100px;
            bottom: 19px; } }
      .track-list .track-list-item .track-list-item-info .track-list-item-info-text {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        top: 20px; }
        .track-list .track-list-item .track-list-item-info .track-list-item-info-text h3 {
          width: 140px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 10px; }
          @media (min-width: 768px) {
            .track-list .track-list-item .track-list-item-info .track-list-item-info-text h3 {
              width: 100%; } }
          @media (min-width: 1024px) {
            .track-list .track-list-item .track-list-item-info .track-list-item-info-text h3 {
              width: 170px; } }
    .track-list .track-list-item .track-list-item-info-genres {
      display: inline-block;
      text-transform: lowercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 160px; }
      @media (min-width: 768px) {
        .track-list .track-list-item .track-list-item-info-genres {
          width: 100%; } }
      @media (min-width: 1024px) {
        .track-list .track-list-item .track-list-item-info-genres {
          width: 170px; } }
      .track-list .track-list-item .track-list-item-info-genres p {
        font-size: 12px;
        color: #9B9B9B;
        display: inline-block; }
    .track-list .track-list-item .stars {
      color: #9B9B9B;
      font-size: 12px;
      display: block; }
    .track-list .track-list-item .track-list-item-right {
      font-size: 34px;
      font-weight: bold;
      position: absolute;
      top: 15px;
      right: 10px; }
      @media (min-width: 768px) {
        .track-list .track-list-item .track-list-item-right {
          font-size: 48px;
          top: 7px;
          right: 10px; } }

.you-might-like {
  background: linear-gradient(-90deg, #66D68C 0%, #1DB952 96%);
  color: #fff;
  padding-top: 86px;
  padding-bottom: 86px; }
  .you-might-like h1 {
    font-size: 36px; }
    @media (min-width: 768px) {
      .you-might-like h1 {
        font-size: 55px; } }
  .you-might-like .you-might-like-header {
    display: flex;
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 25px;
    justify-content: space-between;
    flex-wrap: wrap; }
    @media (min-width: 768px) {
      .you-might-like .you-might-like-header {
        font-size: 64px;
        margin-bottom: 51px; } }
  .you-might-like .show-more {
    display: inline-block;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: normal;
    height: 100%;
    margin-top: 24px; }
    @media (min-width: 768px) {
      .you-might-like .show-more {
        position: relative;
        font-size: 16px;
        margin-top: 37px; } }
    .you-might-like .show-more:hover:before {
      content: '';
      background: url("../images/refresh-icon.svg") no-repeat;
      background-size: 14px;
      width: 14px;
      height: 14px;
      display: inline-block;
      margin-right: 5px;
      animation-name: spin;
      animation-duration: 2000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      position: relative; }
    .you-might-like .show-more:before {
      content: '';
      background: url("../images/refresh-icon.svg") no-repeat;
      background-size: 14px;
      width: 14px;
      height: 14px;
      display: inline-block;
      margin-right: 5px;
      position: relative; }
  .you-might-like .you-might-like-card-container {
    margin-top: 20px; }
    @media (min-width: 768px) {
      .you-might-like .you-might-like-card-container {
        margin-top: 40px; } }
  .you-might-like .you-might-like-card {
    padding: 20px 15px 10px 20px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    position: relative;
    margin-bottom: 180px;
    height: 280px;
    width: 280px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 768px) {
      .you-might-like .you-might-like-card {
        height: 240px;
        width: 240px;
        margin-right: 0;
        margin-left: 0; } }
    @media (min-width: 1024px) {
      .you-might-like .you-might-like-card {
        height: 280px;
        width: 280px; } }
    .you-might-like .you-might-like-card h4 {
      font-size: 16px;
      color: #000;
      margin-bottom: 5px;
      letter-spacing: 1.5px; }
    .you-might-like .you-might-like-card p {
      font-size: 12px;
      color: #9B9B9B;
      letter-spacing: 1.4px; }
    .you-might-like .you-might-like-card .you-might-like-card-img {
      position: relative;
      width: 280px;
      height: 280px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      margin-top: 20px; }
      @media (min-width: 768px) {
        .you-might-like .you-might-like-card .you-might-like-card-img {
          height: 240px;
          width: 240px; } }
      @media (min-width: 1024px) {
        .you-might-like .you-might-like-card .you-might-like-card-img {
          height: 280px;
          width: 280px; } }

.music-data-section {
  background-color: #F2F1EF;
  padding-bottom: 68px;
  margin-top: -1px; }
  @media (min-width: 1024px) {
    .music-data-section {
      padding-bottom: 108px; } }
  .music-data-section .music-data-header {
    display: inline-block; }
    .music-data-section .music-data-header h2 {
      font-size: 44px;
      font-weight: bold;
      margin-bottom: 25px;
      color: #000;
      letter-spacing: 1.4px; }
      @media (min-width: 768px) {
        .music-data-section .music-data-header h2 {
          font-size: 64px;
          margin-bottom: 28px; } }
  .music-data-section .moodTitle {
    margin-bottom: 12px; }
  .music-data-section .moodDescription {
    color: gray;
    padding-top: 10px; }
  .music-data-section .time-range {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 54px; }
    @media (min-width: 768px) {
      .music-data-section .time-range {
        font-size: 32px;
        margin-bottom: 48px; } }
    .music-data-section .time-range a {
      color: #000;
      text-decoration: line-through; }
      .music-data-section .time-range a.active {
        text-decoration: none; }
      .music-data-section .time-range a:hover {
        color: rgba(0, 0, 0, 0.4); }
  .music-data-section .equalizer-container {
    margin: 12px auto 48px;
    width: 80%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    position: relative; }
    .music-data-section .equalizer-container .avg-line {
      position: absolute;
      width: 233px;
      background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
      display: block;
      height: 2px;
      z-index: 0;
      top: 100px;
      font-size: 12px; }
      @media (min-width: 768px) {
        .music-data-section .equalizer-container .avg-line {
          width: 243px; } }
      .music-data-section .equalizer-container .avg-line:before {
        content: 'avg';
        display: inline-block;
        position: absolute;
        top: -10px;
        left: -27px; }
    .music-data-section .equalizer-container .bar {
      width: 200px;
      min-height: 10px;
      margin-right: 1px; }
    .music-data-section .equalizer-container.level-one .bar:nth-child(0) {
      background-color: #1db951;
      animation: grow-one0 1969ms alternate infinite; }
@keyframes grow-one0 {
  0% {
    height: 10px; }
  10% {
    height: 1px; }
  20% {
    height: 6px; }
  30% {
    height: 7px; }
  40% {
    height: 9px; }
  50% {
    height: 3px; }
  60% {
    height: 9px; }
  70% {
    height: 10px; }
  80% {
    height: 2px; }
  90% {
    height: 4px; }
  100% {
    height: 5px; } }
    .music-data-section .equalizer-container.level-one .bar:nth-child(1) {
      background-color: #1db951;
      animation: grow-one1 1529ms alternate infinite; }
@keyframes grow-one1 {
  0% {
    height: 6px; }
  10% {
    height: 9px; }
  20% {
    height: 9px; }
  30% {
    height: 4px; }
  40% {
    height: 6px; }
  50% {
    height: 10px; }
  60% {
    height: 5px; }
  70% {
    height: 2px; }
  80% {
    height: 9px; }
  90% {
    height: 8px; }
  100% {
    height: 10px; } }
    .music-data-section .equalizer-container.level-one .bar:nth-child(2) {
      background-color: #1db951;
      animation: grow-one2 2175ms alternate infinite; }
@keyframes grow-one2 {
  0% {
    height: 4px; }
  10% {
    height: 1px; }
  20% {
    height: 7px; }
  30% {
    height: 1px; }
  40% {
    height: 10px; }
  50% {
    height: 6px; }
  60% {
    height: 2px; }
  70% {
    height: 5px; }
  80% {
    height: 5px; }
  90% {
    height: 5px; }
  100% {
    height: 1px; } }
    .music-data-section .equalizer-container.level-one .bar:nth-child(3) {
      background-color: #1db951;
      animation: grow-one3 1538ms alternate infinite; }
@keyframes grow-one3 {
  0% {
    height: 4px; }
  10% {
    height: 6px; }
  20% {
    height: 5px; }
  30% {
    height: 4px; }
  40% {
    height: 10px; }
  50% {
    height: 4px; }
  60% {
    height: 6px; }
  70% {
    height: 5px; }
  80% {
    height: 3px; }
  90% {
    height: 10px; }
  100% {
    height: 8px; } }
    .music-data-section .equalizer-container.level-one .bar:nth-child(4) {
      background-color: #1db951;
      animation: grow-one4 1505ms alternate infinite; }
@keyframes grow-one4 {
  0% {
    height: 6px; }
  10% {
    height: 7px; }
  20% {
    height: 10px; }
  30% {
    height: 2px; }
  40% {
    height: 4px; }
  50% {
    height: 6px; }
  60% {
    height: 2px; }
  70% {
    height: 10px; }
  80% {
    height: 4px; }
  90% {
    height: 4px; }
  100% {
    height: 1px; } }
    .music-data-section .equalizer-container.level-one .bar:nth-child(5) {
      background-color: #1db951;
      animation: grow-one5 1921ms alternate infinite; }
@keyframes grow-one5 {
  0% {
    height: 8px; }
  10% {
    height: 6px; }
  20% {
    height: 10px; }
  30% {
    height: 7px; }
  40% {
    height: 8px; }
  50% {
    height: 8px; }
  60% {
    height: 5px; }
  70% {
    height: 2px; }
  80% {
    height: 7px; }
  90% {
    height: 1px; }
  100% {
    height: 4px; } }
    .music-data-section .equalizer-container.level-one .bar:nth-child(6) {
      background-color: #1db951;
      animation: grow-one6 1738ms alternate infinite; }
@keyframes grow-one6 {
  0% {
    height: 1px; }
  10% {
    height: 8px; }
  20% {
    height: 2px; }
  30% {
    height: 2px; }
  40% {
    height: 1px; }
  50% {
    height: 9px; }
  60% {
    height: 8px; }
  70% {
    height: 4px; }
  80% {
    height: 2px; }
  90% {
    height: 5px; }
  100% {
    height: 6px; } }
    .music-data-section .equalizer-container.level-two .bar:nth-child(0) {
      background-color: #1db951;
      animation: grow-two0 1883ms alternate infinite; }
@keyframes grow-two0 {
  0% {
    height: 16px; }
  10% {
    height: 21px; }
  20% {
    height: 19px; }
  30% {
    height: 29px; }
  40% {
    height: 12px; }
  50% {
    height: 29px; }
  60% {
    height: 30px; }
  70% {
    height: 23px; }
  80% {
    height: 23px; }
  90% {
    height: 26px; }
  100% {
    height: 19px; } }
    .music-data-section .equalizer-container.level-two .bar:nth-child(1) {
      background-color: #1db951;
      animation: grow-two1 1696ms alternate infinite; }
@keyframes grow-two1 {
  0% {
    height: 29px; }
  10% {
    height: 30px; }
  20% {
    height: 13px; }
  30% {
    height: 12px; }
  40% {
    height: 16px; }
  50% {
    height: 13px; }
  60% {
    height: 16px; }
  70% {
    height: 17px; }
  80% {
    height: 24px; }
  90% {
    height: 20px; }
  100% {
    height: 11px; } }
    .music-data-section .equalizer-container.level-two .bar:nth-child(2) {
      background-color: #1db951;
      animation: grow-two2 1872ms alternate infinite; }
@keyframes grow-two2 {
  0% {
    height: 17px; }
  10% {
    height: 21px; }
  20% {
    height: 14px; }
  30% {
    height: 26px; }
  40% {
    height: 26px; }
  50% {
    height: 25px; }
  60% {
    height: 12px; }
  70% {
    height: 13px; }
  80% {
    height: 14px; }
  90% {
    height: 14px; }
  100% {
    height: 23px; } }
    .music-data-section .equalizer-container.level-two .bar:nth-child(3) {
      background-color: #1db951;
      animation: grow-two3 2160ms alternate infinite; }
@keyframes grow-two3 {
  0% {
    height: 12px; }
  10% {
    height: 11px; }
  20% {
    height: 19px; }
  30% {
    height: 25px; }
  40% {
    height: 21px; }
  50% {
    height: 16px; }
  60% {
    height: 21px; }
  70% {
    height: 23px; }
  80% {
    height: 27px; }
  90% {
    height: 12px; }
  100% {
    height: 25px; } }
    .music-data-section .equalizer-container.level-two .bar:nth-child(4) {
      background-color: #1db951;
      animation: grow-two4 1694ms alternate infinite; }
@keyframes grow-two4 {
  0% {
    height: 14px; }
  10% {
    height: 17px; }
  20% {
    height: 26px; }
  30% {
    height: 17px; }
  40% {
    height: 17px; }
  50% {
    height: 27px; }
  60% {
    height: 19px; }
  70% {
    height: 26px; }
  80% {
    height: 29px; }
  90% {
    height: 13px; }
  100% {
    height: 21px; } }
    .music-data-section .equalizer-container.level-two .bar:nth-child(5) {
      background-color: #1db951;
      animation: grow-two5 1649ms alternate infinite; }
@keyframes grow-two5 {
  0% {
    height: 15px; }
  10% {
    height: 24px; }
  20% {
    height: 23px; }
  30% {
    height: 21px; }
  40% {
    height: 23px; }
  50% {
    height: 20px; }
  60% {
    height: 23px; }
  70% {
    height: 22px; }
  80% {
    height: 13px; }
  90% {
    height: 16px; }
  100% {
    height: 13px; } }
    .music-data-section .equalizer-container.level-two .bar:nth-child(6) {
      background-color: #1db951;
      animation: grow-two6 1529ms alternate infinite; }
@keyframes grow-two6 {
  0% {
    height: 25px; }
  10% {
    height: 15px; }
  20% {
    height: 16px; }
  30% {
    height: 23px; }
  40% {
    height: 21px; }
  50% {
    height: 25px; }
  60% {
    height: 23px; }
  70% {
    height: 28px; }
  80% {
    height: 14px; }
  90% {
    height: 18px; }
  100% {
    height: 23px; } }
    .music-data-section .equalizer-container.level-three .bar:nth-child(0) {
      background-color: #1db951;
      animation: grow-three0 1830ms alternate infinite; }
@keyframes grow-three0 {
  0% {
    height: 41px; }
  10% {
    height: 44px; }
  20% {
    height: 43px; }
  30% {
    height: 50px; }
  40% {
    height: 45px; }
  50% {
    height: 45px; }
  60% {
    height: 46px; }
  70% {
    height: 49px; }
  80% {
    height: 48px; }
  90% {
    height: 55px; }
  100% {
    height: 48px; } }
    .music-data-section .equalizer-container.level-three .bar:nth-child(1) {
      background-color: #1db951;
      animation: grow-three1 2143ms alternate infinite; }
@keyframes grow-three1 {
  0% {
    height: 56px; }
  10% {
    height: 51px; }
  20% {
    height: 46px; }
  30% {
    height: 41px; }
  40% {
    height: 52px; }
  50% {
    height: 52px; }
  60% {
    height: 46px; }
  70% {
    height: 53px; }
  80% {
    height: 46px; }
  90% {
    height: 52px; }
  100% {
    height: 52px; } }
    .music-data-section .equalizer-container.level-three .bar:nth-child(2) {
      background-color: #1db951;
      animation: grow-three2 2144ms alternate infinite; }
@keyframes grow-three2 {
  0% {
    height: 58px; }
  10% {
    height: 55px; }
  20% {
    height: 54px; }
  30% {
    height: 44px; }
  40% {
    height: 56px; }
  50% {
    height: 42px; }
  60% {
    height: 55px; }
  70% {
    height: 45px; }
  80% {
    height: 47px; }
  90% {
    height: 55px; }
  100% {
    height: 44px; } }
    .music-data-section .equalizer-container.level-three .bar:nth-child(3) {
      background-color: #1db951;
      animation: grow-three3 1732ms alternate infinite; }
@keyframes grow-three3 {
  0% {
    height: 51px; }
  10% {
    height: 51px; }
  20% {
    height: 44px; }
  30% {
    height: 55px; }
  40% {
    height: 60px; }
  50% {
    height: 59px; }
  60% {
    height: 56px; }
  70% {
    height: 48px; }
  80% {
    height: 51px; }
  90% {
    height: 56px; }
  100% {
    height: 53px; } }
    .music-data-section .equalizer-container.level-three .bar:nth-child(4) {
      background-color: #1db951;
      animation: grow-three4 1881ms alternate infinite; }
@keyframes grow-three4 {
  0% {
    height: 44px; }
  10% {
    height: 44px; }
  20% {
    height: 54px; }
  30% {
    height: 44px; }
  40% {
    height: 49px; }
  50% {
    height: 60px; }
  60% {
    height: 51px; }
  70% {
    height: 44px; }
  80% {
    height: 57px; }
  90% {
    height: 52px; }
  100% {
    height: 56px; } }
    .music-data-section .equalizer-container.level-three .bar:nth-child(5) {
      background-color: #1db951;
      animation: grow-three5 1959ms alternate infinite; }
@keyframes grow-three5 {
  0% {
    height: 42px; }
  10% {
    height: 41px; }
  20% {
    height: 49px; }
  30% {
    height: 54px; }
  40% {
    height: 46px; }
  50% {
    height: 50px; }
  60% {
    height: 56px; }
  70% {
    height: 57px; }
  80% {
    height: 44px; }
  90% {
    height: 47px; }
  100% {
    height: 44px; } }
    .music-data-section .equalizer-container.level-three .bar:nth-child(6) {
      background-color: #1db951;
      animation: grow-three6 1511ms alternate infinite; }
@keyframes grow-three6 {
  0% {
    height: 49px; }
  10% {
    height: 55px; }
  20% {
    height: 54px; }
  30% {
    height: 52px; }
  40% {
    height: 42px; }
  50% {
    height: 41px; }
  60% {
    height: 58px; }
  70% {
    height: 49px; }
  80% {
    height: 42px; }
  90% {
    height: 49px; }
  100% {
    height: 41px; } }
    .music-data-section .equalizer-container.level-four .bar:nth-child(0) {
      background-color: #1db951;
      animation: grow-four0 1669ms alternate infinite; }
@keyframes grow-four0 {
  0% {
    height: 87px; }
  10% {
    height: 86px; }
  20% {
    height: 81px; }
  30% {
    height: 81px; }
  40% {
    height: 85px; }
  50% {
    height: 90px; }
  60% {
    height: 90px; }
  70% {
    height: 81px; }
  80% {
    height: 73px; }
  90% {
    height: 74px; }
  100% {
    height: 75px; } }
    .music-data-section .equalizer-container.level-four .bar:nth-child(1) {
      background-color: #1db951;
      animation: grow-four1 1917ms alternate infinite; }
@keyframes grow-four1 {
  0% {
    height: 80px; }
  10% {
    height: 84px; }
  20% {
    height: 78px; }
  30% {
    height: 73px; }
  40% {
    height: 72px; }
  50% {
    height: 71px; }
  60% {
    height: 79px; }
  70% {
    height: 88px; }
  80% {
    height: 85px; }
  90% {
    height: 75px; }
  100% {
    height: 75px; } }
    .music-data-section .equalizer-container.level-four .bar:nth-child(2) {
      background-color: #1db951;
      animation: grow-four2 2157ms alternate infinite; }
@keyframes grow-four2 {
  0% {
    height: 75px; }
  10% {
    height: 79px; }
  20% {
    height: 77px; }
  30% {
    height: 77px; }
  40% {
    height: 76px; }
  50% {
    height: 77px; }
  60% {
    height: 85px; }
  70% {
    height: 84px; }
  80% {
    height: 85px; }
  90% {
    height: 84px; }
  100% {
    height: 85px; } }
    .music-data-section .equalizer-container.level-four .bar:nth-child(3) {
      background-color: #1db951;
      animation: grow-four3 1507ms alternate infinite; }
@keyframes grow-four3 {
  0% {
    height: 90px; }
  10% {
    height: 72px; }
  20% {
    height: 80px; }
  30% {
    height: 73px; }
  40% {
    height: 79px; }
  50% {
    height: 83px; }
  60% {
    height: 89px; }
  70% {
    height: 74px; }
  80% {
    height: 81px; }
  90% {
    height: 85px; }
  100% {
    height: 78px; } }
    .music-data-section .equalizer-container.level-four .bar:nth-child(4) {
      background-color: #1db951;
      animation: grow-four4 1563ms alternate infinite; }
@keyframes grow-four4 {
  0% {
    height: 82px; }
  10% {
    height: 85px; }
  20% {
    height: 82px; }
  30% {
    height: 89px; }
  40% {
    height: 81px; }
  50% {
    height: 72px; }
  60% {
    height: 73px; }
  70% {
    height: 87px; }
  80% {
    height: 78px; }
  90% {
    height: 90px; }
  100% {
    height: 90px; } }
    .music-data-section .equalizer-container.level-four .bar:nth-child(5) {
      background-color: #1db951;
      animation: grow-four5 2131ms alternate infinite; }
@keyframes grow-four5 {
  0% {
    height: 81px; }
  10% {
    height: 73px; }
  20% {
    height: 84px; }
  30% {
    height: 75px; }
  40% {
    height: 85px; }
  50% {
    height: 81px; }
  60% {
    height: 84px; }
  70% {
    height: 90px; }
  80% {
    height: 88px; }
  90% {
    height: 86px; }
  100% {
    height: 78px; } }
    .music-data-section .equalizer-container.level-four .bar:nth-child(6) {
      background-color: #1db951;
      animation: grow-four6 1560ms alternate infinite; }
@keyframes grow-four6 {
  0% {
    height: 74px; }
  10% {
    height: 74px; }
  20% {
    height: 80px; }
  30% {
    height: 75px; }
  40% {
    height: 78px; }
  50% {
    height: 83px; }
  60% {
    height: 88px; }
  70% {
    height: 72px; }
  80% {
    height: 73px; }
  90% {
    height: 87px; }
  100% {
    height: 78px; } }
    .music-data-section .equalizer-container.level-five .bar:nth-child(0) {
      background-color: #1db951;
      animation: grow-five0 1735ms alternate infinite; }
@keyframes grow-five0 {
  0% {
    height: 99px; }
  10% {
    height: 91px; }
  20% {
    height: 98px; }
  30% {
    height: 108px; }
  40% {
    height: 92px; }
  50% {
    height: 98px; }
  60% {
    height: 103px; }
  70% {
    height: 101px; }
  80% {
    height: 92px; }
  90% {
    height: 98px; }
  100% {
    height: 95px; } }
    .music-data-section .equalizer-container.level-five .bar:nth-child(1) {
      background-color: #1db951;
      animation: grow-five1 1818ms alternate infinite; }
@keyframes grow-five1 {
  0% {
    height: 105px; }
  10% {
    height: 96px; }
  20% {
    height: 110px; }
  30% {
    height: 106px; }
  40% {
    height: 95px; }
  50% {
    height: 95px; }
  60% {
    height: 108px; }
  70% {
    height: 94px; }
  80% {
    height: 101px; }
  90% {
    height: 103px; }
  100% {
    height: 93px; } }
    .music-data-section .equalizer-container.level-five .bar:nth-child(2) {
      background-color: #1db951;
      animation: grow-five2 2002ms alternate infinite; }
@keyframes grow-five2 {
  0% {
    height: 102px; }
  10% {
    height: 104px; }
  20% {
    height: 106px; }
  30% {
    height: 110px; }
  40% {
    height: 109px; }
  50% {
    height: 109px; }
  60% {
    height: 110px; }
  70% {
    height: 105px; }
  80% {
    height: 105px; }
  90% {
    height: 107px; }
  100% {
    height: 95px; } }
    .music-data-section .equalizer-container.level-five .bar:nth-child(3) {
      background-color: #1db951;
      animation: grow-five3 2140ms alternate infinite; }
@keyframes grow-five3 {
  0% {
    height: 98px; }
  10% {
    height: 100px; }
  20% {
    height: 106px; }
  30% {
    height: 100px; }
  40% {
    height: 94px; }
  50% {
    height: 99px; }
  60% {
    height: 99px; }
  70% {
    height: 106px; }
  80% {
    height: 99px; }
  90% {
    height: 91px; }
  100% {
    height: 101px; } }
    .music-data-section .equalizer-container.level-five .bar:nth-child(4) {
      background-color: #1db951;
      animation: grow-five4 1711ms alternate infinite; }
@keyframes grow-five4 {
  0% {
    height: 98px; }
  10% {
    height: 105px; }
  20% {
    height: 103px; }
  30% {
    height: 109px; }
  40% {
    height: 97px; }
  50% {
    height: 98px; }
  60% {
    height: 97px; }
  70% {
    height: 106px; }
  80% {
    height: 102px; }
  90% {
    height: 98px; }
  100% {
    height: 106px; } }
    .music-data-section .equalizer-container.level-five .bar:nth-child(5) {
      background-color: #1db951;
      animation: grow-five5 1805ms alternate infinite; }
@keyframes grow-five5 {
  0% {
    height: 99px; }
  10% {
    height: 92px; }
  20% {
    height: 105px; }
  30% {
    height: 101px; }
  40% {
    height: 104px; }
  50% {
    height: 106px; }
  60% {
    height: 92px; }
  70% {
    height: 99px; }
  80% {
    height: 95px; }
  90% {
    height: 91px; }
  100% {
    height: 99px; } }
    .music-data-section .equalizer-container.level-five .bar:nth-child(6) {
      background-color: #1db951;
      animation: grow-five6 1812ms alternate infinite; }
@keyframes grow-five6 {
  0% {
    height: 106px; }
  10% {
    height: 97px; }
  20% {
    height: 103px; }
  30% {
    height: 103px; }
  40% {
    height: 94px; }
  50% {
    height: 103px; }
  60% {
    height: 91px; }
  70% {
    height: 92px; }
  80% {
    height: 97px; }
  90% {
    height: 108px; }
  100% {
    height: 101px; } }
    .music-data-section .equalizer-container.level-six .bar:nth-child(0) {
      background-color: #1db951;
      animation: grow-six0 1635ms alternate infinite; }
@keyframes grow-six0 {
  0% {
    height: 125px; }
  10% {
    height: 119px; }
  20% {
    height: 128px; }
  30% {
    height: 133px; }
  40% {
    height: 113px; }
  50% {
    height: 125px; }
  60% {
    height: 126px; }
  70% {
    height: 128px; }
  80% {
    height: 123px; }
  90% {
    height: 124px; }
  100% {
    height: 127px; } }
    .music-data-section .equalizer-container.level-six .bar:nth-child(1) {
      background-color: #1db951;
      animation: grow-six1 1573ms alternate infinite; }
@keyframes grow-six1 {
  0% {
    height: 114px; }
  10% {
    height: 118px; }
  20% {
    height: 126px; }
  30% {
    height: 129px; }
  40% {
    height: 126px; }
  50% {
    height: 127px; }
  60% {
    height: 121px; }
  70% {
    height: 130px; }
  80% {
    height: 112px; }
  90% {
    height: 114px; }
  100% {
    height: 121px; } }
    .music-data-section .equalizer-container.level-six .bar:nth-child(2) {
      background-color: #1db951;
      animation: grow-six2 1648ms alternate infinite; }
@keyframes grow-six2 {
  0% {
    height: 134px; }
  10% {
    height: 126px; }
  20% {
    height: 124px; }
  30% {
    height: 121px; }
  40% {
    height: 116px; }
  50% {
    height: 129px; }
  60% {
    height: 124px; }
  70% {
    height: 115px; }
  80% {
    height: 119px; }
  90% {
    height: 133px; }
  100% {
    height: 133px; } }
    .music-data-section .equalizer-container.level-six .bar:nth-child(3) {
      background-color: #1db951;
      animation: grow-six3 2081ms alternate infinite; }
@keyframes grow-six3 {
  0% {
    height: 112px; }
  10% {
    height: 130px; }
  20% {
    height: 125px; }
  30% {
    height: 119px; }
  40% {
    height: 126px; }
  50% {
    height: 114px; }
  60% {
    height: 120px; }
  70% {
    height: 112px; }
  80% {
    height: 113px; }
  90% {
    height: 114px; }
  100% {
    height: 125px; } }
    .music-data-section .equalizer-container.level-six .bar:nth-child(4) {
      background-color: #1db951;
      animation: grow-six4 1772ms alternate infinite; }
@keyframes grow-six4 {
  0% {
    height: 112px; }
  10% {
    height: 135px; }
  20% {
    height: 113px; }
  30% {
    height: 135px; }
  40% {
    height: 114px; }
  50% {
    height: 116px; }
  60% {
    height: 119px; }
  70% {
    height: 130px; }
  80% {
    height: 114px; }
  90% {
    height: 119px; }
  100% {
    height: 135px; } }
    .music-data-section .equalizer-container.level-six .bar:nth-child(5) {
      background-color: #1db951;
      animation: grow-six5 1661ms alternate infinite; }
@keyframes grow-six5 {
  0% {
    height: 123px; }
  10% {
    height: 114px; }
  20% {
    height: 135px; }
  30% {
    height: 135px; }
  40% {
    height: 135px; }
  50% {
    height: 115px; }
  60% {
    height: 115px; }
  70% {
    height: 131px; }
  80% {
    height: 123px; }
  90% {
    height: 131px; }
  100% {
    height: 127px; } }
    .music-data-section .equalizer-container.level-six .bar:nth-child(6) {
      background-color: #1db951;
      animation: grow-six6 2126ms alternate infinite; }
@keyframes grow-six6 {
  0% {
    height: 118px; }
  10% {
    height: 132px; }
  20% {
    height: 134px; }
  30% {
    height: 112px; }
  40% {
    height: 111px; }
  50% {
    height: 123px; }
  60% {
    height: 130px; }
  70% {
    height: 124px; }
  80% {
    height: 123px; }
  90% {
    height: 127px; }
  100% {
    height: 120px; } }
    .music-data-section .equalizer-container.level-seven .bar:nth-child(0) {
      background-color: #1db951;
      animation: grow-seven0 2013ms alternate infinite; }
@keyframes grow-seven0 {
  0% {
    height: 162px; }
  10% {
    height: 168px; }
  20% {
    height: 160px; }
  30% {
    height: 163px; }
  40% {
    height: 150px; }
  50% {
    height: 154px; }
  60% {
    height: 170px; }
  70% {
    height: 158px; }
  80% {
    height: 154px; }
  90% {
    height: 155px; }
  100% {
    height: 168px; } }
    .music-data-section .equalizer-container.level-seven .bar:nth-child(1) {
      background-color: #1db951;
      animation: grow-seven1 1817ms alternate infinite; }
@keyframes grow-seven1 {
  0% {
    height: 162px; }
  10% {
    height: 160px; }
  20% {
    height: 158px; }
  30% {
    height: 159px; }
  40% {
    height: 164px; }
  50% {
    height: 163px; }
  60% {
    height: 149px; }
  70% {
    height: 153px; }
  80% {
    height: 168px; }
  90% {
    height: 158px; }
  100% {
    height: 148px; } }
    .music-data-section .equalizer-container.level-seven .bar:nth-child(2) {
      background-color: #1db951;
      animation: grow-seven2 2163ms alternate infinite; }
@keyframes grow-seven2 {
  0% {
    height: 159px; }
  10% {
    height: 162px; }
  20% {
    height: 169px; }
  30% {
    height: 147px; }
  40% {
    height: 157px; }
  50% {
    height: 163px; }
  60% {
    height: 166px; }
  70% {
    height: 154px; }
  80% {
    height: 146px; }
  90% {
    height: 153px; }
  100% {
    height: 162px; } }
    .music-data-section .equalizer-container.level-seven .bar:nth-child(3) {
      background-color: #1db951;
      animation: grow-seven3 1518ms alternate infinite; }
@keyframes grow-seven3 {
  0% {
    height: 152px; }
  10% {
    height: 146px; }
  20% {
    height: 147px; }
  30% {
    height: 150px; }
  40% {
    height: 157px; }
  50% {
    height: 152px; }
  60% {
    height: 165px; }
  70% {
    height: 165px; }
  80% {
    height: 156px; }
  90% {
    height: 159px; }
  100% {
    height: 151px; } }
    .music-data-section .equalizer-container.level-seven .bar:nth-child(4) {
      background-color: #1db951;
      animation: grow-seven4 1914ms alternate infinite; }
@keyframes grow-seven4 {
  0% {
    height: 157px; }
  10% {
    height: 157px; }
  20% {
    height: 161px; }
  30% {
    height: 153px; }
  40% {
    height: 150px; }
  50% {
    height: 152px; }
  60% {
    height: 167px; }
  70% {
    height: 165px; }
  80% {
    height: 151px; }
  90% {
    height: 159px; }
  100% {
    height: 160px; } }
    .music-data-section .equalizer-container.level-seven .bar:nth-child(5) {
      background-color: #1db951;
      animation: grow-seven5 2060ms alternate infinite; }
@keyframes grow-seven5 {
  0% {
    height: 165px; }
  10% {
    height: 159px; }
  20% {
    height: 155px; }
  30% {
    height: 164px; }
  40% {
    height: 152px; }
  50% {
    height: 154px; }
  60% {
    height: 153px; }
  70% {
    height: 166px; }
  80% {
    height: 170px; }
  90% {
    height: 160px; }
  100% {
    height: 155px; } }
    .music-data-section .equalizer-container.level-seven .bar:nth-child(6) {
      background-color: #1db951;
      animation: grow-seven6 2144ms alternate infinite; }
@keyframes grow-seven6 {
  0% {
    height: 163px; }
  10% {
    height: 153px; }
  20% {
    height: 153px; }
  30% {
    height: 162px; }
  40% {
    height: 147px; }
  50% {
    height: 168px; }
  60% {
    height: 148px; }
  70% {
    height: 162px; }
  80% {
    height: 162px; }
  90% {
    height: 154px; }
  100% {
    height: 165px; } }
    .music-data-section .equalizer-container.level-eight .bar:nth-child(0) {
      background-color: #1db951;
      animation: grow-eight0 2009ms alternate infinite; }
@keyframes grow-eight0 {
  0% {
    height: 194px; }
  10% {
    height: 185px; }
  20% {
    height: 187px; }
  30% {
    height: 188px; }
  40% {
    height: 182px; }
  50% {
    height: 186px; }
  60% {
    height: 191px; }
  70% {
    height: 190px; }
  80% {
    height: 176px; }
  90% {
    height: 178px; }
  100% {
    height: 181px; } }
    .music-data-section .equalizer-container.level-eight .bar:nth-child(1) {
      background-color: #1db951;
      animation: grow-eight1 1938ms alternate infinite; }
@keyframes grow-eight1 {
  0% {
    height: 197px; }
  10% {
    height: 183px; }
  20% {
    height: 187px; }
  30% {
    height: 181px; }
  40% {
    height: 174px; }
  50% {
    height: 171px; }
  60% {
    height: 200px; }
  70% {
    height: 184px; }
  80% {
    height: 187px; }
  90% {
    height: 194px; }
  100% {
    height: 195px; } }
    .music-data-section .equalizer-container.level-eight .bar:nth-child(2) {
      background-color: #1db951;
      animation: grow-eight2 1721ms alternate infinite; }
@keyframes grow-eight2 {
  0% {
    height: 197px; }
  10% {
    height: 178px; }
  20% {
    height: 182px; }
  30% {
    height: 173px; }
  40% {
    height: 188px; }
  50% {
    height: 193px; }
  60% {
    height: 178px; }
  70% {
    height: 199px; }
  80% {
    height: 171px; }
  90% {
    height: 191px; }
  100% {
    height: 194px; } }
    .music-data-section .equalizer-container.level-eight .bar:nth-child(3) {
      background-color: #1db951;
      animation: grow-eight3 2045ms alternate infinite; }
@keyframes grow-eight3 {
  0% {
    height: 182px; }
  10% {
    height: 180px; }
  20% {
    height: 196px; }
  30% {
    height: 199px; }
  40% {
    height: 175px; }
  50% {
    height: 183px; }
  60% {
    height: 195px; }
  70% {
    height: 178px; }
  80% {
    height: 176px; }
  90% {
    height: 179px; }
  100% {
    height: 195px; } }
    .music-data-section .equalizer-container.level-eight .bar:nth-child(4) {
      background-color: #1db951;
      animation: grow-eight4 2055ms alternate infinite; }
@keyframes grow-eight4 {
  0% {
    height: 185px; }
  10% {
    height: 191px; }
  20% {
    height: 196px; }
  30% {
    height: 198px; }
  40% {
    height: 179px; }
  50% {
    height: 179px; }
  60% {
    height: 192px; }
  70% {
    height: 178px; }
  80% {
    height: 189px; }
  90% {
    height: 192px; }
  100% {
    height: 196px; } }
    .music-data-section .equalizer-container.level-eight .bar:nth-child(5) {
      background-color: #1db951;
      animation: grow-eight5 1702ms alternate infinite; }
@keyframes grow-eight5 {
  0% {
    height: 192px; }
  10% {
    height: 172px; }
  20% {
    height: 190px; }
  30% {
    height: 171px; }
  40% {
    height: 195px; }
  50% {
    height: 171px; }
  60% {
    height: 200px; }
  70% {
    height: 194px; }
  80% {
    height: 176px; }
  90% {
    height: 185px; }
  100% {
    height: 179px; } }
    .music-data-section .equalizer-container.level-eight .bar:nth-child(6) {
      background-color: #1db951;
      animation: grow-eight6 1738ms alternate infinite; }
@keyframes grow-eight6 {
  0% {
    height: 198px; }
  10% {
    height: 173px; }
  20% {
    height: 175px; }
  30% {
    height: 194px; }
  40% {
    height: 194px; }
  50% {
    height: 181px; }
  60% {
    height: 200px; }
  70% {
    height: 171px; }
  80% {
    height: 193px; }
  90% {
    height: 187px; }
  100% {
    height: 179px; } }
    .music-data-section .equalizer-container.level-nine .bar:nth-child(0) {
      background-color: #1db951;
      animation: grow-nine0 2065ms alternate infinite; }
@keyframes grow-nine0 {
  0% {
    height: 195px; }
  10% {
    height: 191px; }
  20% {
    height: 199px; }
  30% {
    height: 193px; }
  40% {
    height: 194px; }
  50% {
    height: 200px; }
  60% {
    height: 199px; }
  70% {
    height: 194px; }
  80% {
    height: 196px; }
  90% {
    height: 192px; }
  100% {
    height: 198px; } }
    .music-data-section .equalizer-container.level-nine .bar:nth-child(1) {
      background-color: #1db951;
      animation: grow-nine1 1723ms alternate infinite; }
@keyframes grow-nine1 {
  0% {
    height: 195px; }
  10% {
    height: 197px; }
  20% {
    height: 197px; }
  30% {
    height: 191px; }
  40% {
    height: 196px; }
  50% {
    height: 191px; }
  60% {
    height: 200px; }
  70% {
    height: 200px; }
  80% {
    height: 193px; }
  90% {
    height: 198px; }
  100% {
    height: 195px; } }
    .music-data-section .equalizer-container.level-nine .bar:nth-child(2) {
      background-color: #1db951;
      animation: grow-nine2 1827ms alternate infinite; }
@keyframes grow-nine2 {
  0% {
    height: 196px; }
  10% {
    height: 193px; }
  20% {
    height: 191px; }
  30% {
    height: 199px; }
  40% {
    height: 200px; }
  50% {
    height: 197px; }
  60% {
    height: 195px; }
  70% {
    height: 199px; }
  80% {
    height: 193px; }
  90% {
    height: 192px; }
  100% {
    height: 199px; } }
    .music-data-section .equalizer-container.level-nine .bar:nth-child(3) {
      background-color: #1db951;
      animation: grow-nine3 1763ms alternate infinite; }
@keyframes grow-nine3 {
  0% {
    height: 194px; }
  10% {
    height: 197px; }
  20% {
    height: 191px; }
  30% {
    height: 198px; }
  40% {
    height: 194px; }
  50% {
    height: 196px; }
  60% {
    height: 197px; }
  70% {
    height: 191px; }
  80% {
    height: 195px; }
  90% {
    height: 200px; }
  100% {
    height: 199px; } }
    .music-data-section .equalizer-container.level-nine .bar:nth-child(4) {
      background-color: #1db951;
      animation: grow-nine4 1883ms alternate infinite; }
@keyframes grow-nine4 {
  0% {
    height: 192px; }
  10% {
    height: 195px; }
  20% {
    height: 196px; }
  30% {
    height: 199px; }
  40% {
    height: 196px; }
  50% {
    height: 191px; }
  60% {
    height: 198px; }
  70% {
    height: 197px; }
  80% {
    height: 198px; }
  90% {
    height: 194px; }
  100% {
    height: 199px; } }
    .music-data-section .equalizer-container.level-nine .bar:nth-child(5) {
      background-color: #1db951;
      animation: grow-nine5 2027ms alternate infinite; }
@keyframes grow-nine5 {
  0% {
    height: 193px; }
  10% {
    height: 195px; }
  20% {
    height: 195px; }
  30% {
    height: 191px; }
  40% {
    height: 191px; }
  50% {
    height: 193px; }
  60% {
    height: 192px; }
  70% {
    height: 192px; }
  80% {
    height: 191px; }
  90% {
    height: 197px; }
  100% {
    height: 194px; } }
    .music-data-section .equalizer-container.level-nine .bar:nth-child(6) {
      background-color: #1db951;
      animation: grow-nine6 1831ms alternate infinite; }
@keyframes grow-nine6 {
  0% {
    height: 194px; }
  10% {
    height: 199px; }
  20% {
    height: 194px; }
  30% {
    height: 196px; }
  40% {
    height: 192px; }
  50% {
    height: 199px; }
  60% {
    height: 191px; }
  70% {
    height: 191px; }
  80% {
    height: 200px; }
  90% {
    height: 199px; }
  100% {
    height: 193px; } }
.country-breakdown {
  color: #fff;
  margin-top: 50px;
  margin-bottom: 150px; }
  .country-breakdown h1 {
    font-size: 32px;
    padding-bottom: 25px; }
  @media (min-width: 1024px) {
    .country-breakdown {
      padding: 0; }
      .country-breakdown h1 {
        font-size: 48px; } }
  .country-breakdown a {
    color: #fff; }
  .country-breakdown .country-breakdown-description {
    opacity: 0.9;
    padding-top: 10px; }
  .country-breakdown select {
    background: black;
    font-size: 18px; }
  .country-breakdown .artist-list {
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
    padding: 0; }
    .country-breakdown .artist-list li {
      padding: 16px 0;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      list-style: none;
      font-weight: bold; }
      .country-breakdown .artist-list li:last-child {
        border: none; }

.footer {
  padding-top: 40px;
  padding-bottom: 0px;
  color: #9B9B9B; }
  .footer .footer-links {
    padding: 0px 0px 13px;
    color: #fff;
    display: block;
    margin: 0 20px;
    font-size: 14px;
    letter-spacing: 1.4px; }
  .footer .footer-icons .footer-container {
    text-align: center; }
  .footer .footer-container {
    margin: 0 auto 30px;
    text-align: center; }
    @media (min-width: 768px) {
      .footer .footer-container {
        text-align: left; } }
    .footer .footer-container a {
      color: #fff; }
      .footer .footer-container a:active, .footer .footer-container a:hover {
        color: #9B9B9B; }
    .footer .footer-container i {
      font-size: 35px;
      margin-right: 12px; }
  .footer .row {
    border-bottom: 1px solid #9B9B9B; }
  .footer .copyright {
    text-align: right;
    width: 100%;
    margin-top: 5px; }

.faq {
  background: linear-gradient(-90deg, #66D68C 0%, #1DB952 96%);
  color: #fff;
  padding: 58px 0px; }
  .faq .faq-header {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px; }
  .faq h5 {
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: bold; }
  .faq .faq-text {
    opacity: 0.95; }

.about {
  color: #fff;
  background: linear-gradient(90deg, #FF8F7A 0%, #FD4928 100%);
  padding: 58px 0px; }
  .about .about-header {
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px; }
  .about h5 {
    font-size: 16px;
    padding-bottom: 10px;
    padding-top: 20px;
    font-weight: bold; }
  .about .about-text {
    opacity: 0.95;
    padding-bottom: 22px; }

/*# sourceMappingURL=style.css.map */
