<div class="about">

	<div class="container">
	
		<div class="row">
		
			<div class="col-md-2 col-xs-1">
			</div>
			
			<div class="col-md-8 col-xs-10">
			
				<h2 class="about-header">
					About
				</h2>
				
				<h5>Obscurify</h5>	
				<p class="about-text">
					Obscurify was birthed in the winter of '16 from college-man and trailblazer
					<a href="mailto:oliveroalex@gmail.com">Alex Olivero</a> (full-stack dev)
					as a side project to learn web development fundamentals. He would later discover through his beloved creation
					that his music taste was less obscure than he thought. Come fall '17, he would cross paths with 
					enterprising person/wizard <a href="mailto:npatel663@gmail.com">Nirmal Patel</a> (front-end dev/UX designer)
					who would catalyze the full site rewrite that launched soon after.
				</p>					
				<p class="about-text">
					The goal of Obscurify is to extend Spotify and show more interesting content about users' listening history. It uses 
					Spotify's <a href="https://developer.spotify.com/web-api/">Web API</a> to display the users' listening history, show
					their top genres, and to make recommendations on under-the-radar songs they might like based on their history.
				</p>				
				<p class="about-text">
					The global popularity ratings of the artists in the user's history are aggregated to result in an Obscurity score 
					which is compared to every other user in their country to show how unique (or energetic, danceable, and happy) of a music taste
					they have versus the average of their country.
				</p>		
				<h5>Export Playlists</h5>
				<p class="about-text">
					Obscurify can also make playlists of the music in your All-Time and Current track lists and place them in your Spotify library, 
					allowing users to save a snapshot of the songs in their music rotation over the time range of their choosing.
				</p>
				<h5>User History</h5>
				<p class="about-text">
					Users' current top artists and tracks are saved when they view their Obscurify profile. By selecting the "Current" header on the
					top artist or track list and clicking on a date in the drop-down menu, a user can see what they were listening to
					during a given month and can also create playlists of these tracks.
					
				</p>
				
				<h5>Credit</h5>	
				<p class="about-text">
					Vinyl Icon credited to Aleksandr Vector.  Found on <a href="https://thenounproject.com/search/?q=vinyl&i=1324878">Noun Project</a>. 
				</p>
				
				<h5>Support</h5>	
				<p class="about-text">
					Are you moved enough to want to help cover some server costs? Consider donating!
					<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="6AKHYWCNJ9EA8">
					<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
					<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
					</form>
				</p>
			
			</div>		
			
			<div class="col-md-2 col-xs-1">
			</div>
		
		</div>	
	
	</div>

	

</div>

<div ng-include src="'partials/footer.html'"></div>