<div class="faq">

	<div class="container">
	
	  <div class="row">
		<div class="col-md-2 col-xs-1">
		</div>
		<div class="col-md-8 col-xs-10">
		
		  <h2 class="faq-header">F.A.Q.</h2>

		  <h5>How do I switch the logged in user?</h5>
		  <p class="faq-text">
			Click "Switch User" at the bottom of the page, then click "(Not you?)" right above the Cancel and Okay buttons.
		  </p>

		  <h5>Where does the artist and track ranking come from?</h5>
		  <p class="faq-text">
			The content and order of your lists come directly from <a href="https://developer.spotify.com/web-api/">Spotify's API</a>.
			Popularity, genres, and musical traits are all determined by Spotify.
		  </p>

		  <h5>Why are there no (or few) results showing up in my All-Time and Current lists?</h5>
		  <p class="faq-text">
			If you listen in Private Mode, those songs will not be recorded and won't be reflected in either list.
			If your account is fairly new, it is normal for your All-Time list to be short, as it takes some time for Spotify to update their information.
		  </p>

		  <h5>What is an Obscurify score and how is it determined?</h5>
		  <p class="faq-text">
			Your Obscurify score is based on the global popularity of your all-time favorite artists. The artists that you have at the top of your list
			carry more of an impact than the artists near the bottom (example: if you've got Drake or Kendrick near the top, your score will shoot up).
			The lower your score is, the more unique your musical taste is. The higher, the more mainstream (or relatable).
			Your recent score is shown right above your Current Artist list, so you can tell if you're getting more or less weird.
			The "Average Score" shown represents the average worldwide score of Obscurify users.
		  </p>

		  <h5>What do the stars mean?</h5>
		  <p class="faq-text">
			Every artist and song on Spotify is given a global popularity rating. 5 stars means more popular. Less stars, or none, means less popular.
		  </p>

		  <h5>Some of the genres seem a little off...</h5>
		  <p class="faq-text">
			Spotify can attribute some artists with a few dozen genres. These range from very general (like "rock") to a little
			more interesting (like "escape room"). Obscurify selects two of these genres at random and displays them, so every time you
			load the page, you may see different genres for the same artist.
		  </p>
		  
		  <h5>My lists don't appear to be updating!</h5>
		  <p class="faq-text">
			There is no defined schedule for when Spotify updates the data in your lists. If the tracks in your Current list appear to be the same
			as the last couple of weeks, or you expect a certain artist to appear in a list and they're not showing up, just give it some time as 
			it's normal for the updates to be delayed.
		  </p>
		  
		  <h5>Why doesn't my history go back any farther?</h5>
		  <p class="faq-text">
			Obscurify can only save your history when you log in to the site, and because Obscurify only has access to data
			from either the current month or from all-time, only entries from months that you visited the site will show up
			in the history list.
		  </p>

		  <h5>How is my data used?</h5>
		  <p class="faq-text">
			  To use Obscurify, you'll need to allow the app to have access to some of your account information -
			  the data Obscurify records is your username, e-mail, the country your account is registered to, and the artists/tracks that appear 
			  on your lists. Obscurify won't ever email you.
			  All data is solely used to display the most accurate representation of the Spotify listening community and to give users
			  insight on their personal listening history.
		  </p>
		  
		  <h5>I have some other issue (or concern, compliment, maybe a suggestion)</h5>
		  <p class="faq-text">
			  I'd like to know about it! <a href="mailto:oliveroalex@gmail.com">Send me an email!</a>
		  </p>

		</div>
		<div class="col-md-2 col-xs-1">
		</div>
	  </div>

	</div>

</div>

<div ng-include src="'partials/footer.html'"></div>
