<div class="container" style="padding-bottom:60px">
  <div style="text-align:center; padding-top:15px; margin-top:45px; color:#F5F5F5; border-top: 3px solid #424242; ">
    <div class="ssk-group">
        <a href="https://www.facebook.com/obscurify/" class="ssk ssk-sm ssk-text ssk-facebook">
          <span style="font-size:80%; opacity:0.9;">
              Like it!
          </span>
        </a>

        <a href="https://github.com/alexolivero/Obscurify" class="ssk ssk-sm ssk-text ssk-pomegranate ssk-github">
          <span style="font-size:80%; opacity:0.9;">
              Contribute!
          </span>
        </a>
        <a href="mailto:olivero5@msu.edu" class="ssk ssk-sm ssk-text ssk-amethyst ssk-email">
          <span style="font-size:80%; opacity:0.9;">
              Contact me!
          </span>
          </a>
    </div>
  </div>
</div>