<div class="container-fluid footer">
	<div class="container">
    <div class="row">

 		<div class="col-sm-4 col-sm-offset-2">
 			<div class="footer-container">
	 			<a class="footer-links" href="https://obscurifymusic.com/#!/">Home</a>
				<a class="footer-links" href="https://obscurifymusic.com/#!/about">About</a>
				<a class="footer-links" href="https://obscurifymusic.com/#!/faq">F.A.Q.</a>
				<a class="footer-links" href="https://obscurifymusic.com/logout">Switch User</a>
			</div>
 		</div>

 		 <div class="col-sm-6 footer-icons">
 		 	<div class="footer-container">
	 			<a href="https://www.facebook.com/obscurify/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
	 			<a href="https://www.github.com/alexolivero/Obscurify"><i class="fa fa-github-square" aria-hidden="true"></i></a>
	 			<a href="mailto:oliveroalex@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
 			</div>
 		</div>
	</div>
	<p class="copyright"><i class="fa fa-copyright" aria-hidden="true"></i>
Obscurify 2017</p>
	</div>
</div>


