<div style="background-color:#00e676;">
  <div class="container" style="text-align:center;">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div style="font-size:300%;"><a style="color: #1b5e20;" href="/#/">Obscurify</a></div>
      </div>
      <div class="col-md-6 col-xs-12" style="padding-top:20px; padding-bottom:20px;">
        <a style="color: #1b5e20; font-size:100%;" href="/logout"><span class="glyphicon glyphicon-log-in"></span> Switch User</a>
        <span style="padding-right:10px; padding-left:10px;">|</span>
        <a style="color: #1b5e20; font-size:100%;" href="/login"><span class="glyphicon glyphicon-home"></span> Home</a>
        <span style="padding-right:10px; padding-left:10px;">|</span>
        <a style="color: #1b5e20; font-size:100%;" href="/help"><span class="glyphicon glyphicon-question-sign"></span> FAQ</a>
      </div>
    </div>
  </div>
</div>