<div style="color:#f5f5f5; padding-top:30px;" class="container">
  <h4>What am I looking at?</h4>
  <div style="opacity:0.7; padding-bottom:45px;font-size:90%;">
        <div> Popularity, genres, and musical traits are all determined by Spotify, as is the order of your results.
        </div></br>
        <div> Your score is based on the worldwide popularity of your top artists, represented by stars.
          The average score comes from all Obscurify users who have enough history to have a fair score (more than 20 all-time artists and tracks).
        </div></br>
        <div> That nice green curve on the User Scores chart measures number of users (y axis) versus score (x axis). Only scores that come from 20 or more artists are shown.
        </div></br>
      <div> On the My Taste chart, the purple represents your recent listening history, the red represents your all-time history,
        and the green is the all-time average of all Obscurify users.
        Energy, happiness, danceability, and acousticness are measured from 0 to 1, with 1 being more energetic, etc.
      </div> </br>
      <div> The All-Time #1 Artists section (at the bottom of the page) shows the artists that have the most #1 spots as a percentage.
      </div> </br>
      <div> Music listened to while in Private Mode is not recorded and will not show up in any lists.
      </div>
  </div>

  <h4>How your data is used</h4>
  <div style="opacity:0.7;font-size:90%;">
    <div> To use Obscurify, you'll need to allow the app to have access to some of your account information -
    The only data it records is your username (so it can keep track of your score) and the country your account is registered to.
    </div></br>
    <div> Obscurify won't ever email you, and does not record your email address or profile image.
    All data is solely used to display the most accurate representation of the Spotify listening community.
    </div>
  </div>

</div>
