<div ng-app='obscurifyMusic'>

  <div class="container user-info" style=" padding-top:15px; color:white; border-bottom: 3px solid #424242;">
    <div class="row">
      <div class="col-md-4 col-xs-12" style="padding-bottom:10px; text-align:center;">
        <img style="width:130px; height:130px; object-fit:cover; border-radius:10%; " src={{imageURL}}>
        <div style="font-size:90%; color:#F5F5F5; opacity:0.7; padding:5px;">{{display_name}}</div>
      </div>
      <div class="col-md-4 col-xs-6" style="padding: 0px;border-right: 3px solid #424242;">
        <h4 style="margin-bottom:5px;margin-top:0px;">My Top Genres</h4>
        <div style="margin-bottom:15px; color:#F5F5F5; max-height: 130px; overflow-y:auto; width: 90%; ">
          <div ng-repeat="genre in top_genres | limitTo:15" style="opacity:0.7; font-size:90%;">
            {{genre[0]}}
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6" style="padding-right: 0px;color:white;">
        <div style="float:left; width: 100%;">
          <div style="width:50%; float:left; margin-bottom:15px;">
            <h4 style="margin-bottom:5px;margin-top:0px;">My Score</h4>
            <div style="font-size:85%; color:#F5F5F5; opacity:0.7;">lower = more obscure</div>
          </div>
          <div style="width:50%; float:right;">
            <h4 style="font-size:300%;margin-top:0px; padding-left: 5px;">{{obscurify_score}}</h4>
          </div>
        </div>
        <div style="clear:both; width: 100%;">
          <div style="width:50%; float:left; ">
            <h4 style="margin-bottom:5px;margin-top:0px;">Average</h4>
            <div style="font-size:85%; color:#F5F5F5; opacity:0.7; padding-bottom:10px;">{{user_count | number}} scores</div>
          </div>
          <div style="width:50%; float:right; padding-left: 5px;">
            <h4 style="font-size:300%;margin-top:0px;">{{global_average}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-bottom:12px; border-bottom: 3px solid #424242;">
    <div class="row" style="padding-bottom:15px; padding-top:15px;">
      <div class="col-md-6 col-xs-12">
        <h4 style="text-align:center;margin-bottom:0px;color:white;">My Taste</h4>
        <!-- <div id="columnchart_material" style="width: 555px; height: 200px;"></div> -->
        <div id="columnchart_values"></div>
      </div>
      <div class="col-md-6 col-xs-12">
        <h4 style="text-align:center;margin-bottom:0px;color:white;">User Scores</h4>
        <div id="curve_chart"></div>
      </div>
    </div>

    <div ng-click="showHelp = !showHelp;" style="text-align:center; padding-bottom: 5px;font-size:90%;">
      <a>What does this mean?</a>
      <div ng-show="showHelp" style="color:#F5F5F5; opacity:0.5; padding:15px; border-top: 3px solid #424242; margin-top:5px; ">
        <div>
          Popularity, genres, and musical traits are all determined by Spotify, as is the order of your results.
        </div>
      </br>
        <div>
          Your score is based on the worldwide popularity of your top artists, represented by stars.
          The average score comes from all Obscurify users who have enough history to have a fair score (more than 20 all-time artists and tracks).
        </div>
        </br>
        <div>
          That nice green curve on the User Scores chart measures number of users (y axis) versus score (x axis). Only scores that come from 20 or more artists are shown.
        </div>
      </br>
      <div>
        On the My Taste chart, the purple represents your recent listening history, the red represents your all-time history,
        and the green is the all-time average of all Obscurify users.
        Energy, happiness, danceability, and acousticness are measured from 0 to 1, with 1 being more energetic, etc.
      </div>
    </br>
    <div>
      The All-Time #1 Artists section (at the bottom of the page) shows the artists that have the most #1 spots as a percentage.
    </div>
      </div>
    </div>

  </div>

  <div style="text-align:center; color:#F5F5F5; font-size:90%; opacity:0.7;">Your all-time favorite tracks and bands you've been into the last six weeks. What do you want to see?</div>
  <ul class="nav nav-tabs" style="padding-top:15px;">
    <li style="width:50%; text-align:center; font-size:145%; color:#F5F5F5; background-color:#424242;" ng-class="artistsTab"><a ng-click="showArtists()">My Artists</a></li>
    <li style="width:50%; text-align:center; font-size:145%; color:white; background-color:#424242;" ng-class="tracksTab"><a ng-click="showTracks()">My Tracks</a></li>
  </ul>

  <div class="container" style="padding-top:15px; color:#F5F5F5;">
    <div class="col-md-1 col-xs-12">
    </div>
	  <div ng-show="artistsShow" class="row">
      <div class="col-md-5 col-xs-12" style="padding:0px;">
        <h1>All-Time</h1>
        <table class="table table-hover">
            <tbody>
              <tr ng-repeat="artist in long_term_artists" style="border: 2px solid #424242;">
                <td style="background-color:#00e676; color:black; font-size:150%; width:24px;">{{$index + 1}}</td>
                <td>
                  <div style="font-size:90%;">{{artist.name}}</div>

                  <div style="font-size:80%; opacity:0.8;">{{artist.randomGenre1}}{{artist.randomGenre2}}</div>
                  <div style="font-size:90%; opacity:0.8;">{{long_term_popularity[$index]}}</div>
                </td>
                <td style="text-align:right;"><img style="width:60px; height:60px; object-fit:cover; border-radius:10%;" src={{artist.images[1].url}}></td>
            </tbody>
        </table>
      </div>
      <div class="col-md-5 col-xs-12" style="padding:0px;">
        <div>
          <h1 style="display:inline-block;">Six Weeks</h1>
          <div style="font-size:80%; opacity:0.8; display:inline-block; padding-left:5px;">Score : {{recent_obscurify_score}}</div>
        </div>

        <table class="table table-hover">
            <tbody>
              <tr ng-repeat="artist in short_term_artists" style="border: 2px solid #424242;">
                <td style="background-color:#00e676; color:black; font-size:150%; width:24px;">{{$index + 1}}</td>
                <td>
                  <div style="font-size:90%;">{{artist.name}}</div>

                  <div style="font-size:80%; opacity:0.8;">{{artist.randomGenre1}}{{artist.randomGenre2}}</div>
                  <div style="font-size:90%; opacity:0.8;">{{short_term_popularity[$index]}}</div>
                </td>
                <td style="text-align:right;"><img style="width:60px; height:60px; object-fit:cover; border-radius:10%;" src={{artist.images[1].url}}></td>
            </tbody>
        </table>
      </div>
      <div class="col-md-1 col-xs-12">
      </div>
    </div>
  </div>


  <div class="container" style="color:#F5F5F5;">
    <div class="col-md-1 col-xs-12">
    </div>
    <div ng-show="tracksShow" class="row">
      <div class="col-md-5 col-xs-12" style="padding:0px;">
        <h1 style="float:left;">All-Time</h1><button class="playlistButton" ng-click="makeAllTimePlaylist()" style="float:right;color:black;">Create Playlist</button>
        <table class="table table-hover">
            <tbody>
              <tr ng-repeat="track in long_term_tracks" style="border: 2px solid #424242;">
                <td style="background-color:#00e676; color:black; font-size:150%; width:24px;">{{$index + 1}}</td>
                <td>
                  <div style="font-size:90%;">{{track.name}}</div>
				          <div style="font-size:90%; opacity:0.8;">{{track.artists[0].name}}</div>
                  <div style="font-size:80%; opacity:0.8;">{{long_term_track_popularity[$index]}}</div>
                </td>
				        <td><img style="width:60px; height:60px; object-fit:cover; border-radius:10%;" src={{track.album.images[1].url}}></td>
            </tbody>
        </table>
      </div>
      <div class="col-md-5 col-xs-12" style="padding:0px;">
        <h1 style="float:left; color:#F5F5F5;" >Six Weeks</h1><button class="playlistButton" ng-click="makeSixWeekPlaylist()" style="float:right;color:black;">Create Playlist</button>
        <table class="table table-hover">
            <tbody>
              <tr ng-repeat="track in short_term_tracks" style="border: 2px solid #424242;">
                <td style="background-color:#00e676; color:black; font-size:150%; width:24px;">{{$index + 1}}</td>
                <td>
                  <div style="font-size:90%;">{{track.name}}</div>
				          <div style="font-size:90%; opacity:0.8;">{{track.artists[0].name}}</div>
                  <div style="font-size:80%; opacity:0.8;">{{short_term_track_popularity[$index]}}</div>
                </td>
				        <td><img style="width:60px; height:60px; object-fit:cover; border-radius:10%;" src={{track.album.images[1].url}}></td>
            </tbody>
        </table>
      </div>
      <div class="col-md-1 col-xs-12">
      </div>
    </div>
  </div>


  <div class="container" style="padding-top:15px; color:#F5F5F5;">
    <h2 style="text-align:center;">All-Time #1 Artists</h2>
	  <div class="row">
      <div class="col-md-2 col-xs-6" style="padding-bottom: 15px;">
        <h4 style="border-bottom: 3px solid #424242; padding-bottom: 5px; margin-bottom: 5px;">Global</h4>
        <div ng-repeat="artist in obscurify_top_artists | limitTo:5:0" style="font-size:80%;">
            <span style="opacity:0.8;">{{artist.name}} </span>
            <span style="opacity:1; font-weight:bold;">{{ (obscurify_top_artists_counts[obscurify_top_artists.indexOf(artist)]/user_count)*100 | number:1  }}%</span>
        </div>
        <span style=" font-size:80%;"> Average Score: </span><span style="font-size:120%;">{{global_average}}</span>
      </div>
      <div class="col-md-2 col-xs-6" style="padding-bottom: 15px;">
        <h4 style="border-bottom: 3px solid #424242; padding-bottom: 5px; margin-bottom: 5px;">US</h4>
        <div ng-repeat="artist in obscurify_top_artists | limitTo:5:5" style="font-size:80%;">
            <span style="opacity:0.8;">{{artist.name}} </span>
            <span style="opacity:1; font-weight:bold;">{{ (obscurify_top_artists_counts[obscurify_top_artists.indexOf(artist)]/country_user_counts[0])*100 | number:1  }}%</span>
        </div>
        <span style=" font-size:80%;"> Average Score: </span><span style="font-size:120%;">{{country_average_scores[0]}}</span>
      </div>
      <div class="col-md-2 col-xs-6" style="padding-bottom: 15px;">
        <h4 style="border-bottom: 3px solid #424242; padding-bottom: 5px; margin-bottom: 5px;">Brazil</h4>
        <div ng-repeat="artist in obscurify_top_artists | limitTo:5:10" style="font-size:80%;">
            <span style="opacity:0.8;">{{artist.name}} </span>
            <span style="opacity:1; font-weight:bold;">{{ (obscurify_top_artists_counts[obscurify_top_artists.indexOf(artist)]/country_user_counts[1])*100 | number:1  }}%</span>
        </div>
      <span style=" font-size:80%;"> Average Score: </span><span style="font-size:120%;">{{country_average_scores[1]}}</span>
      </div>
      <div class="col-md-2 col-xs-6" style="padding-bottom: 15px;">
        <h4 style="border-bottom: 3px solid #424242; padding-bottom: 5px; margin-bottom: 5px;">UK</h4>
        <div ng-repeat="artist in obscurify_top_artists | limitTo:5:15" style="font-size:80%;">
            <span style="opacity:0.8;">{{artist.name}} </span>
            <span style="opacity:1; font-weight:bold;">{{ (obscurify_top_artists_counts[obscurify_top_artists.indexOf(artist)]/country_user_counts[2])*100 | number:1  }}%</span>
        </div>
      <span style=" font-size:80%;"> Average Score: </span><span style="font-size:120%;">{{country_average_scores[2]}}</span>
      </div>
      <div class="col-md-2 col-xs-6" style="padding-bottom: 15px;">
        <h4 style="border-bottom: 3px solid #424242; padding-bottom: 5px; margin-bottom: 5px;">Sweden</h4>
        <div ng-repeat="artist in obscurify_top_artists | limitTo:5:20" style="font-size:80%;">
            <span style="opacity:0.8;">{{artist.name}} </span>
            <span style="opacity:1; font-weight:bold;">{{ (obscurify_top_artists_counts[obscurify_top_artists.indexOf(artist)]/country_user_counts[3])*100 | number:1  }}%</span>
        </div>
      <span style=" font-size:80%;"> Average Score: </span><span style="font-size:120%;">{{country_average_scores[3]}}</span>
      </div>
      <div class="col-md-2 col-xs-6" style="padding-bottom: 15px;">
        <h4 style="border-bottom: 3px solid #424242; padding-bottom: 5px; margin-bottom: 5px;">Australia</h4>
        <div ng-repeat="artist in obscurify_top_artists | limitTo:5:25" style="font-size:80%;">
            <span style="opacity:0.8;">{{artist.name}} </span>
            <span style="opacity:1; font-weight:bold;">{{ (obscurify_top_artists_counts[obscurify_top_artists.indexOf(artist)]/country_user_counts[4])*100 | number:1  }}%</span>
        </div>
      <span style=" font-size:80%;"> Average Score: </span><span style="font-size:120%;">{{country_average_scores[4]}}</span>
      </div>
    </div>
  </div>

  <div class="container" style="text-align:center; padding-top:40px;">
    <a href="/logout" style="background-color:#2e7d32; font-size:90%;" class="btn btn-primary">Log out of Obscurify</a>
  </div>

</div>
