<div ng-include src="'partials/user_info.html'"></div>
<!-- <div ng-include src="'partials/user_nav.html'"></div> -->
<div ng-include src="'partials/top_genres.html'"></div>
<div ng-include src="'partials/obscurity.html'"></div>
<div ng-include src="'partials/track_list.html'"></div>
<div ng-include src="'partials/mood_ring.html'"></div>
<div ng-include src="'partials/music-data.html"></div>
<!-- <div ng-include src="'partials/you_might_like.html'"></div> -->
<div ng-include src="'partials/footer.html'"></div>