<div class="music-data-section">

	<div class="container">
	<div class="music-data-header">
		<h2>My Moods</h2>
		<div class="time-range">
            <a ng-class="currentMoodNav" href="#carousel-music-data" role="button" data-slide-to="0" target="_self" ng-click="currentMoodNavClicked()">
			Current</a>
            <span>/</span>
            <a ng-class="allTimeMoodNav" href="#carousel-music-data" role="button" data-slide-to="1" target="_self" ng-click="allTimeMoodNavClicked()">
			All-Time</a>
        </div>
	</div>
	  
	<div id="carousel-music-data" class="music-data-carousel carousel slide" data-ride="carousel" data-interval='false'>
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">			
			<div class="item active">

				<div class="row">
					<div class="col-md-9 col-xs-12 music-data-row green">
						<div class="music-data-description">
							<h3 class="moodTitle">Happiness</h3>

							<div class="moodDescription">
							<h4>{{shortTermHappinessDescriptor}}</h4>
								Tracks with a high happiness score sound more positive (e.g. happy, cheerful), while tracks
								with a low score sound more negative (e.g. sad, angry).
							</div>
	
						</div>
						<div class="music-data-graph-container">
							<div ng-class="shortTermHappinessLevel">
								<div class="avg-line"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-3 col-md-9 col-xs-12 music-data-row-right red">
						<div class="music-data-description">
							<h3 class="moodTitle">Energy</h3>
							
							<div class="moodDescription">
								<h4> {{shortTermEnergyDescriptor}}</h4>
								Energetic tracks feel fast, loud and noisy. For example, death metal has high energy while
								Bach would lie on the other side of the scale.
							</div>
						</div>

						<div class="music-data-graph-container">
							<div ng-class="shortTermEnergyLevel">
								<div class="avg-line"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>
						</div>
					</div>

					
				</div>
					
				<div class="row">
					<div class="col-md-9 col-xs-12 music-data-row blue">
						
						<div class="music-data-description">
							<h3 class="moodTitle">Danceability</h3>
							<div class="moodDescription">
								<h4> {{shortTermDanceabilityDescriptor}}</h4>
								The danceability of tracks is judged by musical elements
								such as tempo, rhythm stability, and beat strength.
							</div>	
						</div>

						<div class="music-data-graph-container">
							<div ng-class="shortTermDanceabilityLevel">
								<div class="avg-line"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>
						</div>	
					</div>
				</div>


				<div class="row">
					<div class="col-md-offset-3 col-md-9 col-xs-12 music-data-row-right yellow">
						
						<div class="music-data-description">
							<h3 class="moodTitle">Acousticness</h3>
							<div class="moodDescription">
								<h4> {{shortTermAcousticnessDescriptor}}</h4>
								Tracks with higher acousticness have more acoustic elements than electric.
							</div>	
						</div>

						<div class="music-data-graph-container">
							<div ng-class="shortTermAcousticnessLevel">
								<div class="avg-line"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>
						</div>
								
					</div>
				</div>				
			</div>
			
			<div class="item">

				<div class="row">
					<div class="col-md-9 col-xs-12 music-data-row green">
						
						<div class="music-data-description">
							<h3 class="moodTitle">Happiness</h3>
							<div class="moodDescription">
								<h4> {{longTermHappinessDescriptor}}</h4>
								Tracks with a high happiness score sound more positive (e.g. happy, cheerful), while tracks
								with a low score sound more negative (e.g. sad, angry).
							</div>
						</div>

						<div class="music-data-graph-container">
							<div ng-class="longTermHappinessLevel">
								<div class="avg-line"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>
						</div>
						

					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-3 col-md-9 col-xs-12 music-data-row-right red">
						
						<div class="music-data-description">
							<h3 class="moodTitle">Energy</h3>
							<div class="moodDescription">
								<h4> {{longTermEnergyDescriptor}}</h4>
								Energetic tracks feel fast, loud and noisy. For example, death metal has high energy while
								Bach would lie on the other side of the scale.
							</div>
						</div>

						<div class="music-data-graph-container">
							<div ng-class="longTermEnergyLevel">
								<div class="avg-line"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>
						</div>
					
					</div>
				</div>
					
				<div class="row">
					<div class="col-md-9 col-xs-12 music-data-row blue">
						
						<div class="music-data-description">

							<h3 class="moodTitle">Danceability</h3>
							<div class="moodDescription">
								<h4>{{longTermDanceabilityDescriptor}}</h4>
								The danceability of tracks is judged by musical elements
								such as tempo, rhythm stability, and beat strength.
							</div>		
						</div>

						<div class="music-data-graph-container">
							<div ng-class="longTermDanceabilityLevel">
								<div class="avg-line"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>
						</div>		
					</div>
				</div>

				<div class="row">
					<div class="col-md-offset-3 col-md-9 col-xs-12 music-data-row-right yellow">
						
						<div class="music-data-description">
							<h3 class="moodTitle">Acousticness</h3>
							<div class="moodDescription">
								<h4>{{longTermAcousticnessDescriptor}}</h4>
								Tracks with higher acousticness have more acoustic elements than electric.
							</div>
						</div>

						<div class="music-data-graph-container">						
							<div ng-class="longTermAcousticnessLevel">
								<div class="avg-line"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
								<div class="bar"></div>
							</div>
						</div>
									
					</div>
				</div>
				
			</div>
			
		</div>
	</div>
	</div>

</div>