<div class="container-fluid obscurity">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-md-offset-2 obscurity-header">
        <h1>Obscurity Rating</h1>
      </div>
    </div><!--.row-->

    <div class="row">
      <div class="col-md-7 col-md-offset-2 obscurity-rating">
        <h1>{{percentileByCountry}}%</h1>
      </div>
    </div><!--.row-->

    <div class="row">
      <div class="col-md-4 col-md-offset-5 obscurity-description">
        <p>Your music is more obscure than {{percentileByCountry}}% of {{userCountByCountry}} {{countryDemonym}} users on Obscurify.</p>
      </div>
    </div><!--.row-->

    <div class="row obscurity-info">
      <div class="col-md-4 col-md-offset-1">
        <h3>Your Score</h3>
        <h2>{{obscurifyScore}}</h2>
        <p>lower = more obscure</p>
      </div>
      <div class="col-md-4 col-md-offset-1">
        <h3>Global Average</h3>
        <h2>{{globalAverageScore}}</h2>
        <p>of {{totalUserCount}} scores</p>
      </div>
    </div><!--.row-->

  </div>
</div>
