<div style="color:#F5F5F5">
    <h4>Obscurify quantifies the uniqueness of your music taste</h4>
    <p style="color:#F5F5F5;font-size:90%; opacity:0.7;">Your score is based on the popularity of your favorite artists. The lower the score, the more obscure your taste</p>
    <h4>Your all-time top artists and tracks, ranked</h4>
    <p style="color:#F5F5F5;font-size:90%; opacity:0.7;">Spotify orders your favorite artists and tracks from different time ranges</p>
    <h4>Instantly create classic playlists</h4>
    <p style="color:#F5F5F5;font-size:90%; opacity:0.7;">Obscurify can make a playlist in your Spotify library with either your all-time top tracks or what you've been listening to recently</p>
    <div style="text-align:center; padding:15px;">
      <a href="/login" style="background-color:#2e7d32; font-size:90%;" class="btn btn-primary">Log in with Spotify</a>
    </div>
    <div style="text-align:right;">
      <h5>How your data is used</h5>
      <p style="opacity:0.6;font-size:80%;">To use Obscurify, on the next page you'll need to allow the app to have access to some of your account information</p>
      <p style="opacity:0.6;font-size:80%;">The only data it records is your username (so it can keep track of your score) and the country your account is registered to</p>
      <p style="opacity:0.6;font-size:80%;">Obscurify won't ever email you, and does not record your email address or profile image</p>
      <p style="opacity:0.6;font-size:80%;">All data is solely used to display the most accurate representation of the Spotify listening community</p>
    </div>
</div>
