<div ng-app='obscurifyMusic'>

  <div class="landing">
    <div class="landing-jumbotron">
    <h1>Welcome to Obscurify<span>.</span></h1>
    <p>Find out how unique your music taste is and more.</p>
    <a href="/login" class="">
      Log in with Spotify
    </a>
    </div>
  </div>

  <div class="container landing-info">
     <div class="row">
        <div class="col-sm-4 col-xs-12 landing-info-box">
          <h4>Uniqueness</h4>
          <p>Your score is based on the popularity of your favorite artists. The lower the score, the more obscure your taste.
          The higher the score, the more mainstream - think of it as being more relatable.</p>
        </div>
        <div class="col-sm-4 col-xs-12 landing-info-box">
          <h4>Rankings</h4>
          <p>Walk through your personal music hall of fame - get a ranked list of your
          favorite artists and tracks and see what Spotify says is your favorite artist of all time.</p>
        </div>
        <div class="col-sm-4 col-xs-12 landing-info-box">
          <h4>Playlists</h4>
          <p>Obscurify can make a playlist in your Spotify library with either your
            all-time top tracks or what you've been listening to recently - chronicle your favorite tracks of the season or
            jam out to your 50 all-time greatest hits.</p>
        </div>
      </div>
    </div>
</div>
