<div class="container-fluid track-list">``
  <div class="container">

      <div class="row">
        <div class="col-md-8">
          <div class="track-list-header">
            <a ng-class="artistNav" href="#carousel-track-list" role="button" data-slide-to="0" target="_self" ng-click="artistNavClicked()">
			My Artists</a>
            <span>/</span>
            <a ng-class="trackNav" href="#carousel-track-list" role="button" data-slide-to="1" target="_self" ng-click="trackNavClicked()">
			My Tracks</a>
          </div>
        </div>
      </div> <!--.row-->

  <div id="carousel-track-list" class="carousel slide" data-ride="carousel" data-interval='false'>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="track-list-item-container">

          <div class="col-sm-6 track-list-column">
            
              <div class="overlay-gradient"></div>
			  <div class="dropdown">
				<h2>{{shortTermHeader}}</h2>
				<div class="dropdown-content">
					<div ng-repeat="history in userHistory" ng-click="historySelected(history)">
						{{history.formattedDate}}
					</div>
				</div>
			  </div>
              
			  <div class="obscurifyScore">Score : {{recentObscurifyScore}}</div>
              <div class="column-overflow">
              
              <div ng-repeat="artist in shortTermArtists track by $index " class="track-list-item">
                <div class="track-list-item-info">
                  <img src="{{artist.images[1].url}}" alt="" />

                  <a class="track-list-item-info-text" ng-href="{{artist.uri}}">
                    <h3>{{artist.name}}</h3>
                    <div class="track-list-item-info-genres">
                      <p>{{artist.randomGenres.randomGenre1}} /</p>
                      <p>{{artist.randomGenres.randomGenre2}}</p>
                    </div>
                    <p class="stars">{{artist.starRating}}</p>
                  </a>
                </div>
                <div class="track-list-item-right">
                  <p>{{$index + 1}}</p>
                </div>

              </div>  
                     
              
            </div>
          </div>


          <div class="col-sm-6 track-list-column">
            
              <div class="overlay-gradient"></div>
              <h2>All Time</h2><div class="obscurifyScore">Score : {{obscurifyScore}}</div>
              <div class="column-overflow">
  			         <div ng-repeat="artist in longTermArtists track by $index" class="track-list-item">
                  <div class="track-list-item-info">
                    <img src="{{artist.images[1].url}}" alt="" />

                    <a class="track-list-item-info-text" ng-href="{{artist.uri}}">
                      <h3>{{artist.name}}</h3>
                      <div class="track-list-item-info-genres">
                        <p>{{artist.randomGenres.randomGenre1}} /</p>
                        <p>{{artist.randomGenres.randomGenre2}}</p>
                      </div>
                      <p class="stars">{{artist.starRating}}</p>
                    </a>
                  </div>
                  <div class="track-list-item-right">
                    <p>{{$index + 1}}</p>
                  </div>

                  </div>
          
              </div>
          </div>
        </div>
    </div>


    <div class="item">
      <div class="track-list-item-container">

          <div class="col-sm-6 track-list-column">
            
              <div class="overlay-gradient"></div>
                <div class="dropdown">
					<h2>{{shortTermHeader}}</h2>
					<div class="dropdown-content">
						<div ng-repeat="history in userHistory" ng-click="historySelected(history)">
							{{history.formattedDate}}
						</div>
					</div>
				  </div>
                <button ng-click="makePlaylist(false);">Export As Playlist</button>
            
              <div class="column-overflow">
	      <div ng-repeat="track in shortTermTracks track by $index" class="track-list-item">
                <div class="track-list-item-info">
                  <img src="{{track.album.images[1].url}}" alt="" />
                  <a class="track-list-item-info-text" ng-href="{{track.uri}}">
                    <h3>{{track.name}}</h3>
                    <div class="track-list-item-info-genres">
                      <p>{{track.album.name}} /</p>
                      <p>{{track.artists[0].name}}</p>
                    </div>
                    <p class="stars">{{track.starRating}}</p>
                  </a>
                </div>
                <div class="track-list-item-right">
                  <p>{{$index + 1}}</p>
                </div>

              </div>
              
            </div>
          </div>


          <div class="col-sm-6 track-list-column">
          
              <div class="overlay-gradient"></div>
              <h2>All Time</h2><button ng-click="makePlaylist(true);">Export As Playlist</button>
              <div class="column-overflow">
              <div ng-repeat="track in longTermTracks track by $index" class="track-list-item">
                <div class="track-list-item-info">
                  <img src="{{track.album.images[1].url}}" alt="" />

                  <a class="track-list-item-info-text" ng-href="{{track.uri}}">
                    <h3>{{track.name}}</h3>
                    <div class="track-list-item-info-genres">
                      <p>{{track.album.name}} /</p>
                      <p>{{track.artists[0].name}}</p>
                    </div>
                    <p class="stars">{{track.starRating}}</p>
                  </a>
                </div>
                <div class="track-list-item-right">
                  <p>{{$index + 1}}</p>
                </div>

              </div>
             
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
  </div>
</div>
