<div style="color:#f5f5f5; padding-top:20px;" class="container">
  <div class="row">
    <div class="col-md-2 col-xs-0">
    </div>
    <div class="col-md-8 col-xs-12">

      <h5 style="padding-top:10px;">How I switch the logged in user?</h5>
      <p style="opacity:0.7;font-size:80%;">
        Click "Switch User" at the top of the page, then click "(Not you?)" right above the Cancel and Okay buttons.
      </p>

      <h5 style="padding-top:10px;">Where does the artist and track ranking come from?</h5>
      <p style="opacity:0.7;font-size:80%;">
        The content and order of your lists come directly from Spotify's API. <a href="https://developer.spotify.com/web-api/">Learn more.</a>
        Popularity, genres, and musical traits are all determined by Spotify.
      </p>

      <h5 style="padding-top:10px;">Why are there no (or few) results showing up in my All-Time and Six Week lists?</h5>
      <p style="opacity:0.7;font-size:80%;">
        If you listen in Private Mode, those songs will not be recorded and won't be reflected in either list.
        If your account is fairly new, it is normal for your All-Time list to be short, as it takes some time for Spotify to update their information.
      </p>

      <h5 style="padding-top:10px;">What is an Obscurify score and how is it determined?</h5>
      <p style="opacity:0.7;font-size:80%;">
        Your Obscurify score is based on the global popularity of your all-time favorite artists. The artists that you have at the top of your list
        carry more of an impact than the artists near the bottom (example: if you've got Drake or Kendrick near the top, your score will shoot up).
        The lower your score is, the more unique your musical taste is. The higher, the more mainstream (or relatable).
        Your recent score is shown right above your Six-Week Artist list, so you can tell if you're getting more or less weird.
        The "Average Score" shown below your score at the top of the page represents the average worldwide score of Obscurify users who have
        enough history for a fair score (they've got at least 30 All-Time artists and tracks).
      </p>

      <h5 style="padding-top:10px;">What do the stars mean?</h5>
      <p style="opacity:0.7;font-size:80%;">
        Every artist and song on Spotify is given a global popularity rating. 5 stars means more popular. Less stars, or none, means less popular.
      </p>

      <h5 style="padding-top:10px;">Some of the genres seem a little off...</h5>
      <p style="opacity:0.7;font-size:80%;">
        Spotify can attribute some artists with a few dozen genres. These range from very general (like "rock") to a little
        more interesting (like "escape room"). Obscurify selects two of these genres at random and displays them, so every time you
        load the page, you may see different genres for the same artist.
      </p>

      <h5 style="padding-top:10px;">What are these two graphs?</h5>
      <p style="opacity:0.7;font-size:80%;">
        The "My Taste" chart shows some aspects about your recent taste in purple, your all-time taste in red, and the all-time average of Obscurify
        users who've got more than 30 All-Time artists and tracks in green. Energy, happiness, danceability, and acousticness are measured from 0 to 1, with 1 being more energetic, etc.
        The "User Scores" graph measures number of users (y axis) versus their scores (x axis).
      </p>

      <h5 style="padding-top:10px;">All-Time #1 Artists?</h5>
      <p style="opacity:0.7;font-size:80%;">
          This section shows the five artists, by country, who place #1 on the most All-Time lists. "Kanye West 10.7%" in the U.S. list
          means he ranks #1 on just over one out of every ten U.S. Obscurify users.
      </p>

      <h5 style="padding-top:10px;">How is my data used?</h5>
      <p style="opacity:0.7;font-size:80%;">
          To use Obscurify, you'll need to allow the app to have access to some of your account information -
          the only data Obscurify records is your username (so it can keep track of your score) and the country your account is registered to.
          Obscurify won't ever email you, and does not record your email address or profile image.
          All data is solely used to display the most accurate representation of the Spotify listening community.
      </p>

    </div>
    <div class="col-md-2 col-xs-0">
    </div>
  </div>

</div>
