<div ng-app='obscurifyMusic'>
  <div style="color:#F5F5F5;">
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <div class="row">
          <div class="col-md-10 col-xs-12">
            <h4 style="padding-top:15px;"><span style="font-size:140%; margin-right:5px; opacity:0.5;" class="glyphicon glyphicon-sunglasses"></span>
              Obscurify quantifies the uniqueness of your music taste</h4>
            <p style="color:#F5F5F5;font-size:90%; opacity:0.7;">Your score is based on the popularity of your favorite artists. The lower the score, the more obscure your taste.
            The higher the score, the more mainstream - think of it as being more relatable.</p>
          </div>
          <div class="col-md-10 col-xs-12">
            <h4 style="padding-top:15px;"><span style="font-size:140%; margin-right:5px; opacity:0.5;" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
              Your all-time top artists and tracks, ranked</h4>
            <p style="color:#F5F5F5;font-size:90%; opacity:0.7;">Walk through your personal music hall of fame - get a ranked list of your
            favorite artists and tracks and see what Spotify says is your favorite artist of all time.</p>
          </div>
          <div class="col-md-10 col-xs-12">
            <h4 style="padding-top:15px;"><span style="font-size:140%; margin-right:5px; opacity:0.5;" class="glyphicon glyphicon-cd"></span>
              Instantly create playlists</h4>
            <p style="color:#F5F5F5;font-size:90%; opacity:0.7;">Obscurify can make a playlist in your Spotify library with either your
              all-time top tracks or what you've been listening to recently - chronicle your favorite tracks of the season or
              jam out to your 50 all-time greatest hits.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div>

        </div>
      </div>

    </div>
    <div style="padding:15px; text-align:center; margin-top:20px;">
      <a href="/login" style="border-radius:15px;" class="ssk ssk-text ssk-nephritis"><span class="glyphicon glyphicon-thumbs-up"></span>
        <span style="font-size:90%;">Log in with Spotify</span>
      </a>
    </div>
  </div>
</div>
