<div class="header">
    <div class="line-break"></div>
    <h1>Your Moods</h1>
  <p>{{this.data}}</p>
  </div>
  <div class="slate" [ngStyle]="{'background-color': bgColor[0]}">
    <div class="obscurity-info">
      <ion-slides pager="true" (ionSlideDidChange)="slideChanged()">

        <ion-slide *ngFor="let moods of moodDataList">
          <my-moods-graph [data]="moods" [bgColor]="bgColor" [country]="moodData.country"></my-moods-graph>
        </ion-slide>

      </ion-slides>
    </div>
  </div>
