.country-breakdown {
  color: $o-white;
  padding-top: 50px;
  padding-bottom: 150px;
  background-image: linear-gradient(-223deg, #1E7E9E 0%, #62ACC5 100%);

  h1 {
    font-size: 36px;
	  padding-bottom:25px;
  }

  @media #{$desktop} {
    h1 {
      font-size: 55px;
    }
  }
  
  a{
	 color:$o-white;
  }
  
  .country-breakdown-description{
	 opacity: 0.9;
	 padding-top: 10px;
  }
  
  select {
    background-color: transparent;
    font-size: 18px;
    border-radius: 0;
    border: 3px solid $o-white;
    min-width: 100px;
    height: 45px;
	color:black;
  }

  .artist-list {
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
    padding: 0;

    li {
      padding: 16px 0;
      text-decoration: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      list-style: none;
      font-weight: bold;

      &:last-child {
        border: none;
      }
    }
  }
}
