$bars: 6;


.music-data-section {
	  background-color: #F2F1EF;
	  padding: 108px 0px;

	  .music-data-header {
	    display: inline-block;
	    h2 {
		    font-size: 44px;
		    font-weight: bold;
		    margin-bottom: 25px;

		    @media #{$tablet} {
		      font-size: 64px;
		      margin-bottom: 51px;
		    }
	    }
	  }

	.equalizer-container {
	    margin: 100px auto 0;
	    width: #{$bars * 21}px;
	    height: 200px;
	    display: flex;
	    align-items: flex-end;
	}

	.bar {
	    width: 200px;
	    min-height: 10px;
	    margin-right: 1px;
	    box-shadow: 0 10px 15px #000;
	}

	$multiplier: 100 / $bars;
	@for $i from 0 through $bars {
	    .bar:nth-child(#{$i}) {
	        $saturation: 100 - (($i + 1) * $multiplier);
	        background-color: hsla(140, 73%, 42%, 1);
	        animation: grow#{$i} #{random(700) + 1500}ms alternate infinite;
	    }
	    
	    @keyframes grow#{$i} {
	        @for $j from 0 through 10 {
	            #{$j * 10}% {
	                height: #{random(100)+80}px;
	            }
	        }
	    }
	}
}