
.music-data-section {
	  background-color: #303030;
	  padding-top: 86px;
	  padding-bottom: 86px;
	  margin-top: -1px;
	  color: $o-white;

	  @media #{$desktop} {
	  	padding-bottom: 108px;
	  }
	  .music-data-header {
	    display: inline-block;
	    h2 {
		    font-size: 44px;
		    font-weight: bold;
		    margin-bottom: 25px;
			letter-spacing: 1.4px;

		    @media #{$tablet} {
		      font-size: 64px;
		      margin-bottom: 28px;
		    }
	    }
	  }

	  .music-data-carousel {
	  	padding-top: 32px;
	  }

	  .music-data-row, .music-data-row-right {
	  	background-color: rgba(216, 216, 216, 0.25);
	  	padding: 0 46px;
	  	margin-bottom: 72px;
	  	margin-top: 24px;
    	min-height: 234px;
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	text-align: center;

    	@media #{$tablet} {
    		text-align: left;
    		flex-wrap: no-wrap;
    		justify-content: space-between;
    	}

    	&.green {

    		h3 {
    			background: rgba(29,185,84,0.50);
    		}

			.bar {
				background-image: linear-gradient(-180deg, #3EDD8A 0%, #1DB952 100%);
			}
	  	}

	  	&.red {

	  		h3 {
				background: rgba(253,73,40,0.50);
			}

			.bar {
				background-image: linear-gradient(-180deg, #FF8051 0%, #FD4928 100%);
			}
	  	}

	  	&.blue {

	  		h3 {
	  			background: rgba(30,126,158,0.50);	
	  		}
			
			.bar {
				background-image: linear-gradient(-180deg, #1E7E9E 0%, #62ACC5 98%);			
			}
	  	}

	  	&.yellow {

	  		h3 {
	  			background: rgba(255,190,122,0.50);	
	  		}

			.bar {
				background-image: linear-gradient(-180deg, #FFBE7A 0%, #FD9528 100%);
			}
	  	}


    	.music-data-description {
		  	width: 100%;
		  	padding-left: 16px;

		  	@media #{$tablet} {
	  			width: 50%;
    		}
		  }
	  }

	  .music-data-row-right {
	  	text-align: center;
	  	flex-direction: row-reverse;

	  	@media #{$tablet} {
	  		text-align: right;

    	}

	  	.music-data-description {
	  		display: flex;
	  		justify-content: flex-end;
	  		flex-wrap: wrap;
	  		align-content: flex-start;
	  		padding-right: 16px;
	  	}
	  }

	  .moodTitle {
	  	margin-bottom: 12px;
		font-family: HelveticaNeue-Bold;
		font-size: 24px;
		letter-spacing: 1.33px;
		padding-top: 14px;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 8px;
		width: 219px;
	  }
	  
	  .moodDescription{
		padding-top: 10px;

		h4 {
			font-size: 38px;
			letter-spacing: 2px;
			margin-bottom: 16px;
		}

		span {
			font-size: 18px;
		}
	  }
	  
	  .time-range {
		display: inline-block;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 54px;


		@media #{$tablet} {
		  font-size: 32px;
		  margin-bottom: 48px;
		}

		a {
		  color: $o-white;
		  text-decoration: line-through;
		  opacity:0.5;

		  &.active {
			text-decoration: none;
			opacity:1.0;
		  }

		  &:hover {
			color: rgba(255,255,255,0.4);
		  }
		}
	  }

	.music-data-graph-container {
		background: #fff;
		width: 300px;
		display: flex;
		justify-content: center;
		position: relative;
		bottom: -24px;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);

		@media #{$tablet} {
    		flex-wrap: no-wrap;
    		bottom: 24px;
    	}
	}

	.equalizer-container {
	    margin: 12px auto 48px;
	    width: 85%;
	    height: 200px;
	    display: flex;
	    align-items: flex-end;
	    position: relative;

	    .avg-line {
    	    position: absolute;
		    width: 100%;
		    background: $o-black;
		    display: block;
		    height: 2px;
		    z-index: 0;
		    top: 100px;
		    font-size: 12px;

		    &:before {
		    	content:'avg';
		    	display: inline-block;
		    	position: absolute;
		    	top: -20px;
    			left: 0px;
    			color: $o-black;

		    }
		
	    }

		.bar {
		    width: 200px;
		    min-height: 10px;
		    margin-right: 1px;
		}

		$bars: 6;
		$multiplier: 100 / $bars;

		&.level-one {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        animation: grow-one#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-one#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(10)}px;
			            }
			        }
			    }
			}
		}

		&.level-two {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        animation: grow-two#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-two#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(20)+ 10}px;
			            }
			        }
			    }
			}
		}

		&.level-three {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        animation: grow-three#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-three#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(20)+ 40}px;
			            }
			        }
			    }
			}
		}
		
		&.level-four {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        animation: grow-four#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-four#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(20)+ 70}px;
			            }
			        }
			    }
			}
		}
		
		&.level-five {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        animation: grow-five#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-five#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(20)+ 90}px;
			            }
			        }
			    }
			}
		}
		
		&.level-six {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        animation: grow-six#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-six#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(25)+ 110}px;
			            }
			        }
			    }
			}
		}
		
		&.level-seven {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        animation: grow-seven#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-seven#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(25)+ 145}px;
			            }
			        }
			    }
			}
		}
		
		&.level-eight {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        animation: grow-eight#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-eight#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(30)+ 170}px;
			            }
			        }
			    }
			}
		}
		
		&.level-nine {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        animation: grow-nine#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-nine#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(10)+ 190}px;
			            }
			        }
			    }
			}
		}
		
	}
}