
.music-data-section {
	  background-color: #F2F1EF;
	  padding: 108px 0px;

	  .music-data-header {
	    display: inline-block;
	    h2 {
		    font-size: 44px;
		    font-weight: bold;
		    margin-bottom: 25px;
		    color: $o-black;

		    @media #{$tablet} {
		      font-size: 64px;
		      margin-bottom: 51px;
		    }
	    }
	  }

	.equalizer-container {
	    margin: 0px auto 20px;
	    width: 100%;
	    height: 200px;
	    display: flex;
	    align-items: flex-end;
	    padding: 20px;
	    position: relative;

	    .avg-line {
    	    position: absolute;
		    width: 432px;
		    background-color: black;
		    display: block;
		    height: 2px;
		    z-index: 0;
		    top: 69px;
		    font-size: 14px;

		    &:before {
		    	content:'avg';
		    	display: inline-block;
		    	position: absolute;
		    	top: -10px;
    			left: -27px;

		    }
		
	    }

		.bar {
		    width: 200px;
		    min-height: 10px;
		    margin-right: 1px;
		}

		$bars: 6;
		$multiplier: 100 / $bars;

		&.low {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        background-color: hsla(140, 73%, 42%, 1);
			        animation: grow#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(20)}px;
			            }
			        }
			    }
			}
		}

		&.med {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        background-color: hsla(140, 73%, 42%, 1);
			        animation: grow-med#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-med#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(50)+ 20}px;
			            }
			        }
			    }
			}
		}

		&.high {
			@for $i from 0 through $bars {
			    .bar:nth-child(#{$i}) {
			        $saturation: 100 - (($i + 1) * $multiplier);
			        background-color: hsla(140, 73%, 42%, 1);
			        animation: grow-high#{$i} #{random(700) + 1500}ms alternate infinite;
			    }
			    
			    @keyframes grow-high#{$i} {
			        @for $j from 0 through 10 {
			            #{$j * 10}% {
			                height: #{random(90)+ 70}px;
			            }
			        }
			    }
			}
		}
	}
}