.obscurity {
  background: $orange-gradient;
  color: $o-white;
  padding-top: 86px;
  padding-bottom: 86px;

  h1 {
    font-size: 48px;
  }

  .obscurity-header {
    position: relative;

    &:after {
      content: '';
      background: url('../images/border-line.png') no-repeat;
      height: 5px;
      width: 170px;
      position: absolute;
      bottom: -17px;

      @media #{$tablet} {
        bottom: -8px;
      }
    }
  }

  .obscurity-rating {
    text-align: center;
    margin-top: 25px;
    h1 {
      font-size: 100px;

      @media #{$tablet} {
        font-size: 144px;
      }
    }
  }

  .obscurity-description {
    text-align: right;
    font-size: 18px;
    margin-top: 30px;
    padding-bottom: 36px;
  }

  .obscurity-info {
    text-align: center;
    margin-top: 34px;

    h3 {
      padding-top: 20px;
      font-size: 24px;
      letter-spacing: 5px;
      margin-bottom: 17px;
    }

    h2 {
      font-size: 48px;
      margin-bottom: 6px;
    }

    p {
      margin-bottom: 20px;
    }
  }
}
