.track-list {
  background-color: #F2F1EF;
  padding: 58px 0px 32px;

  @media #{$tablet} {
    padding: 108px 0px 58px;
  }
  
  .dropdown {
		position: relative;
		display: inline-block;
	}

	.dropdown-content {
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 1;
		cursor: pointer;
		
		
		.dropdown-item{
		  padding:10px;
		}
		
		.dropdown-item:hover{
		  background-color: lightgoldenrodyellow;
		}
	}

	.dropdown:hover .dropdown-content {
		display: block;
	}

  .track-list-header {
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 25px;


    @media #{$tablet} {
      font-size: 64px;
      margin-bottom: 51px;
    }

    a {
      color: $o-black;
      text-decoration: line-through;

      &.active {
        text-decoration: none;
      }

      &:hover {
        color: rgba(0,0,0,0.4);
      }
    }
  }

  .track-list-row {
    overflow-x: scroll;
    display: block;

    @media #{$tablet} {
      display: block;
    }

    @media #{$desktop} {
      overflow: hidden;
      display: flex;
    }
  }
  
  .obscurifyScore {
	display:inline-flex;
	padding-left:8px;
	font-size: 14px;
    font-weight: medium;
  }

  .track-list-item-container {
    margin-left: 2px;

    &.track-list {
      left: 36px;
      position: relative;
    }

    .track-list-column {
      width: 100%;
      display: inline-block;
      margin-right: 100px;
      position: relative;
      margin-bottom: 10em;
      padding: 0;

      @media #{$tablet} {

      }

      @media #{$desktop} {
        width: 454px;
      }

      .column-overflow {
        height: 700px;
        position: relative;
        overflow-y: scroll;
        padding-top: 27px;
        padding-left: 5px;
        padding-right: 5px;
      
        @media #{$tablet} {
          width: 500px;
          margin: 0 auto;
        }

        @media #{$desktop} {
          width: 100%;
        }

        &::-webkit-scrollbar {
          display: none;
        }

      }

      .overlay-gradient {
        background-image: linear-gradient(-180deg, rgba(242, 241, 239, 0.0) 0%, #F2F1EF 100%);
        position: absolute;
        display: block;
        height: 100px;
        width: 100%;
        z-index: 1;
        bottom: 0px;
      }
    }
  }

  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
    color: $o-black;
    display: inline-block;

    @media #{$tablet} {
      margin-bottom: 60px;
    }
  }

  button {
    color: $o-black;
    background: none;
    border: none;
    font-size: 14px;
    font-weight: medium;
    margin-left: 8px;

    &:after {
      content: "";
      display: inline-block;
      margin-left:10px;
      width: 7px;
      height: 12px;
      background: url("../images/chevron.svg") no-repeat center center;
      transform: rotate(-90deg);
      position: relative;
      top: 1px;

    }
  }

  .track-list-item {
    height: 85px;
    padding: 10px 15px 10px 15px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    position: relative;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .track-list-item-info {
      display: inline-block;
      margin-left: 0px;

      @media #{$desktop} {
        margin-left: 10px;
      }

      a {
        color: $o-black;

        &:hover, &:focus {
          text-decoration: underline;
        }
      }

      h3 {
        font-size: 12px;
        margin-bottom: 2px;
        letter-spacing: 1.4px;

        @media #{$tablet} {
          font-size: 14px;
        }
      }

      img {
        width: 70px;
        height: 70px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
        object-fit: cover;
        position: relative;
        bottom: 30px;

        @media #{$desktop} {
          width: 100px;
          height: 100px;
          bottom: 19px;
        }
      }

      .track-list-item-info-text {
        display: inline-block;
        margin-left: 10px;
        position: relative;
        top: 20px;

        h3 {
          width: 140px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          padding-right: 10px;

          @media #{$tablet} {
            width: 100%;
          }

          @media #{$desktop} {
            width: 170px;
          }
        }


      }
    }
    .track-list-item-info-genres {
      display: inline-block;
      text-transform: lowercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: 160px;

      @media #{$tablet} {
        width: 100%;
      }

      @media #{$desktop} {
            width: 170px;
          }
      p {
        font-size: 12px;
        color: $o-offwhite;
        display: inline-block;
      }
    }

    .stars {
      color: $o-offwhite;
      font-size: 12px;
      display: block;

    }

    .track-list-item-right {
      font-size: 34px; 
      font-weight: bold;
      position: absolute;
      top: 15px;
      right: 10px;

      @media #{$tablet} {
        font-size: 48px;
        top: 7px;
        right: 10px;
      } 
    }

  }
}
