.user-nav {
  margin-top: 70px;
  display: flex;
  vertical-align: center;
  border-bottom: 5px solid $s-green;
  padding: 0;
  a {
    color: $o-white;
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 3px;
    font-weight: 500;
  }

  ul {
    padding: 0;
      li {
        display: inline-block;
        margin-right: 55px;
      }
  }
}
