.user-info {
  color: $o-white;
  margin-top: 80px;

  .user-avatar-container {
    text-align: center;
    padding-bottom: 32px;
  }

  .user-avatar {
    width: 240px;
    height: 240px;
  }

  h1 {
    font-size: 32px;
    text-align: center;

    @media #{$tablet} {
      font-size: 48px;
      text-align: left;
    }
  }
}
