my-recs {

  .slate {
    /* Rectangle 10: */
    background-color: #A9E5AC;
    border-radius: 25px;
    min-height: 200px;
    display:block;
    padding: 17px 16px;

    &.recommendations {
      background-color: #759398;
    }
  }
  .header {
    text-align: center;

    h1 {
      margin: 16px 0 24px;
    }

    .line-break {
      background: #65D26E;
      width: 145px;
      height: 4px;
      display: block;
      margin: 24px auto 0;
    }
  }

  .slate{
    position: relative;
    height: 520px;
    margin: 50px 0;
    .recommendations {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 25px 25px 0 0;
      overflow: hidden;
      box-sizing: border-content;
      padding-top: 80px;
      }
      .filter-btn {
        background-color: #2D3436;
        border: none;
        height: 29px;
        width: 44px;
        border-radius: 19px;
        color: white;
        font-size: 17px;
        padding-top: 1px;
        top: 20px;
        left: 10px;
        position: absolute;
        z-index: 3;
      }

      .add-playlist-btn {
        background-color: transparent;
        border: none;
        height: 29px;
        border-radius: 19px;
        color: #2D3436;
        font-size: 17px;
        padding-top: 1px;
        top: 20px;
        right: 10px;
        position: absolute;
        z-index: 1;
          display:inline-block;
          span {
            /* Create Playlist: */
            font-family: Roboto;
            font-size: 14px;
            font-weight: bold;
            color: #FFFBFA;
            letter-spacing: 1.35px;
            text-align: center;
            margin-right: 6px;
            z-index: 1;

          }
      }
  }

  .content {
    position: relative;
  }

  .track-container {
    overflow-x: auto;
    width: 100%;
    height: 100%;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    overflow-y: hidden;
  }

    .track-container::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }
  .card-track {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    width: 2700px;
    z-index: 1;
    padding-left: 42px;
    flex-wrap: wrap;
    height: 470px;
    align-items: flex-start;
    align-content: baseline;
    &::-webkit-scrollbar {
      display: none;
  }

    .card {
      background: none;
      width: 252px;
      height: 168px;
      margin-right: 70px;
      position: relative;
      img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
      }

      .card-info {
        background: #2D3436;
        box-shadow: -12px 5px 4px 0 rgba(0,0,0,0.50);
        width: 252px;
        height: 142px;
        position: absolute;
        left: -16px;
        top: 16px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: flex-start;
        padding: 16px 16px 8px;
        transition: .2s ease;
        top: 50px;

        h3 {
          font-size: 14px;
          margin: 0;
          width: 100%;
          color: #fff;
        }

        p {
          color: #fff;
          font-size: 10px;
          margin: 0;
        }
        a {
          text-decoration: none;
          color: #fff;
          display: flex;
          flex-wrap: wrap;
          align-content: flex-end;
        }
      }
      .card-content {
        background: #FFFBFA;
        width: 252px;
        height: 142px;
        margin-right: 70px;
        position: relative;
        z-index: 1;
      }

      &:nth-child(9) {
        margin-left: 40px;
      }

      &:nth-child(1n+9) {
         margin-top: 50px;
      }
    }
  }
}
