<!-- Generated template for the MyRecsComponent component -->
<div class="header">
    <div class="line-break" style="background-color: #759398"></div>
    <h1>Recommendations</h1>
  </div>
  <div class="slate recommendations">
    <div class="content recommendations">
      <!-- <button id="filter-btn" class="filter-btn" (click)="toggleFilter()">
        <i class="fas fa-sliders-h"></i>
      </button> -->

      <button id="add-playlist-btn" class="add-playlist-btn" (click)="makePlaylist(recommendedTracks, 'Recommended for You // Obscurify')">
        <span>Create Playlist</span>
        <i class="fas fa-plus-circle"></i>
      </button>
      <div class="track-container">
        <div class="card-track">
          <div class="card" *ngFor="let track of recommendedTracks | slice:0:16;">
            <div class="card-content">
                <img item-start [src]="track.albumImageUrl">
            </div>
            <div class="card-info">
              <a [href]="this.sanitizer.bypassSecurityTrustResourceUrl(track.uri)">
                <h3>
                  {{(track.trackName.length < 30) ? (track.trackName):(track.trackName | slice:0:25)+'...'}}
                </h3>
                <p>
                  {{track.artistName}}
                </p>
              </a>
            </div>

          </div>

        </div>
      </div>
      <!-- <div id="filter" class="filter-options-container" [ngClass]="{'active': filter}">
        <div class="content">

            <label range-left>Obscurity</label>
            <ion-range min="0" max="100" [(ngModel)]="desiredObscurity" color="secondary" (ionChange)="getMore()" debounce="300">
            </ion-range>
        </div>
      </div> -->

    </div>

  </div>
