<main class="app" *ngIf="(obscurifyInfo &&
    user &&
    allTimeArtists &&
    allTimeTracks &&
    currentArtists &&
    currentTracks)">

    <app-intro [data]="user" [error]="allTimeTracks.allTimeTracks.length == 0 ? true : false"></app-intro>
    <div *ngIf="allTimeTracks.allTimeTracks.length > 0">
        <app-top-genres [data]="allTimeArtists"></app-top-genres>
        <app-obscurity-rating
            (switchCountryEvent)="switchCountry($event)"
            [data]="{
                obscurifyInfo: obscurifyInfo,
                country: user.country,
                allTimeObscurifyScore: allTimeArtists.allTimeObscurifyScore,
                recentObscurifyScore: currentArtists.recentObscurifyScore
            }">
        </app-obscurity-rating>
        <app-artist-list
            [data]="{
                allTimeArtists: allTimeArtists.allTimeArtists,
                allTimeTracks: allTimeTracks.allTimeTracks,
                currentArtists: currentArtists.currentArtists,
                currentTracks: currentTracks.currentTracks,
                userInfo: user,
                userHistory: userHistory
            }">
        </app-artist-list>

        <app-moods-graph
            (audioData)="getUserHistory($event)"
            *ngIf="(audioFeatures && obscurifyInfo)"
            [data]="{
                audioFeatureAverages: obscurifyInfo.audioFeatureAverages,
                userAudioFeatures: audioFeatures,
                country: user.country
            }">
        </app-moods-graph>

        <app-recommendations
            [data]="{
                allTimeArtistIDs: allTimeArtists.allTimeArtistIDs,
                allTimeTrackIDs: allTimeTracks.allTimeTrackIDs,
                currentArtistIDs: currentArtists.currentArtistIDs,
                currentTrackIDs: currentTracks.currentTrackIDs,
                userInfo: user
            }">
        </app-recommendations>
    </div>

    <app-footer *ngIf="(obscurifyInfo && user && allTimeArtists && currentArtists)" [login]="false"></app-footer>
</main>


<div class="app__loading" fxLayout="column nowrap" fxLayoutAlign="center center" *ngIf="(!obscurifyInfo && !user && !allTimeArtists && !allTimeTracks && !currentArtists && !currentTracks)">
    <h1>O<span>.</span></h1>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
