page-login {
  ion-content {
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)), url(../assets/imgs/landing-bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), black);
    background-color: -moz-linear-gradient(rgba(0, 0, 0, 0.4), black);
    background-color: linear-gradient(rgba(0, 0, 0, 0.4), black);

  }

  h1 {
    color: #fff;
    font-size: 48px;
    color: #FFFFFF;
    letter-spacing: 1.92px;
    text-align: center;
    position: relative;
    top: 118px;
    font-weight: bold;
    span {
      color: #65D26E;
      font-size: inherit;
      letter-spacing: 1.92px;
      text-align: center;
      font-weight: bold;

    }
  }
  p {
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 2.19px;
    line-height: 20px;
    max-width: 207px;
    font-weight: bold;

  }

  .login-btn-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center

  }
  .login {
    width: 258px;
    height: 70px;
    margin: 0 auto;
    border-radius: 2px;
    background: #65D26E;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 100px;
  }
  .login-btn {
    /* Rectangle: */
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 1.49px;
    text-align: center;
    text-decoration: none;
    position: relative;
    font-weight: bold;
    background: transparent;
  }
}
