<div class="container-fluid track-list">
  <div class="container">

      <div class="row">
        <div class="col-md-8">
          <div class="track-list-header">
            <a href="#" class="active">My Artists</a>
            <span>/</span>
            <a href="#">My Tracks</a>
          </div>
        </div>
      </div> <!--.row-->

      <div class="track-list-row">
        <div class="track-list-item-container">

          <div class="col-md-6">
            <div class="track-list-column">
              <h2>All-Time</h2>
              <div ng-repeat="track in longTermTracks.items" class="track-list-item">
                <div class="track-list-item-info">
                  <img src="{{track.album.images[1].url}}" alt="" />

                  <div class="track-list-item-info-text">
                    <h3>{{track.name}}</h3>
                    <p>{{track.album.name}}</p>
					<p>{{track.artists[0].name}}</p>
                  </div>
                </div>
                <div class="track-list-item-right">
                  <p>1</p>
                </div>

              </div>
            </div>
          </div>


          <div class="col-md-6">
            <div class="track-list-column">
              <h2>Current</h2>
              <div ng-repeat="track in shortTermTracks.items" class="track-list-item">
                <div class="track-list-item-info">
                  <img src="{{track.album.images[1].url}}" alt="" />

                  <div class="track-list-item-info-text">
                    <h3>{{track.name}}</h3>
                    <p>{{track.album.name}}</p>
					<p>{{track.artists[0].name}}</p>
                  </div>
                </div>
                <div class="track-list-item-right">
                  <p>1</p>
                </div>

              </div>
            </div>
          </div>
        </div>        
      </div>
  </div>
</div>
