$font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;

//Colors
$o-black: #000;
$o-white: #fff;
$o-offwhite: #9B9B9B;

$s-green: #1DB954;
$orange-gradient: linear-gradient(90deg, #FF8F7A 0%, #FD4928 100%);
$green-gradient: linear-gradient(-90deg, #66D68C 0%, #1DB952 96%);


$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1024px)";
