<div class="slate">
    <div class="recommendations" [ngClass]="{'show': this.show}">
        <div class="header">
            <h2 class="header__title">
                Recommendations
            </h2>
        </div>
        <div class="recommendations__content">
            <div class="recommendations__container">
                <!-- <button id="filter-btn" class="filter-btn" (click)="toggleFilter()">
                  <i class="fas fa-sliders-h"></i>
                </button> -->

                <button class="refresh-btn" (click)="refreshTracks()">
                  <span>Refresh</span>
                  <i class="fas fa-sync"></i>
                </button>

                <button class="add-playlist-btn" (click)="makePlaylist()">
                  <span>Create Playlist</span>
                  <i class="fas fa-plus-circle"></i>
                </button>
                <div class="track-container">
                  <div class="card-track">
                    <div class="card" *ngFor="let track of recommendedTracks">
                      <a [href]="this.sanitizer.bypassSecurityTrustResourceUrl(track.uri)">

                        <div class="card-info">
                            <h3>
                              {{ (track.name.length < 25) ? (track.name):(track.name | slice:0:20)+'...' }}
                            </h3>
                            <p>
                              {{ (track.artists[0].name.length < 25) ? (track.artists[0].name):(track.artists[0].name | slice:0:20)+'...' }}

                            </p>
                        </div>
                        <div class="card-content">
                            <img item-start *ngIf="track.album.images.length > 1" [src]="track.album.images[1].url">
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
        </div>


    </div>
</div>
