.primary-button {
  background-color: $ob-green;
  text-align: center;
  color: $p-font-color;
  display: block;
  border-radius: 25px;
  font-weight: bold;
  width: 175px;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;

  &.pb-light {
    color: $p-font-color-light;
  }
}
