@import 'mixins';

main {
    background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../../../assets/images/app/login-background.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 700px;
    color: white;
    overflow: hidden;

    .login__container {
        width: 320px;
    }

    h1 {
        color: #fff;
        font-size: 4em;
        color: #FFFFFF;
        letter-spacing: 1.92px;
        text-align: center;
        top: 118px;
        font-weight: bold;
        margin-bottom: 1rem;
        span {
          color: #65D26E;
          font-size: inherit;
          letter-spacing: 1.92px;
          text-align: center;
          font-weight: bold;

        }
      }
      p {
          margin-bottom: 3rem;
      }

    .login {
        width: 258px;
        height: 70px;
        margin: 0 auto;
        border-radius: 2px;
        background: #65d26e;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &:hover,:focus {
            .login__btn {
                opacity: .7;
            }
        }
    }

    .login__btn {
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 1.49px;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        background: transparent;
    }

    .banner-container {
      padding: 1em;
      position: absolute;
      top: 50px;
      overflow: hidden;
    }
  }




  @include desktop {
    main {

      .login__container {
        width: 550px;
      }

      h1 {
        font-size: 6em;
      }

      p {
        font-size: 1.5em;
        text-align: center;
      }
    }
  }
