<main>
  <div class="banner-container" >
    <!-- ObscurifyMusic_S2S_Leaderboard_ROS_ATF -->
    <div id="bsa-zone_1597164528738-4_123456"></div>
  </div>
    <div class="login__container">
        <h1>Obscurify<span>.</span></h1>

        <p>Learn more about your music taste and compare it to others' with Obscurify.</p>

        <div class="login">
            <a (click)="login()" class="login__btn">
                Log in with Spotify
            </a>
        </div>

      </div>



</main>



<app-footer [login]="true"></app-footer>
