
<div fxLayout.gt-sm="row" fxLayout="column">

  <aside fxFlex="0 0 40%" fxLayoutAlign="center start" >
    <a class="back__btn" routerLink="/login"> <i class="fas fa-arrow-left"></i> Go back </a>
  </aside>
  <main fxLayout="column">
    <section>
        <h1>
            About Us
          </h1>
          <p>
            The goal of Obscurify is to help you better understand your own music taste. It uses
            Spotify's <a href="https://developer.spotify.com/web-api/">Web API</a> to display your listening history, define
            your top genres, and to recommend under-the-radar songs you might like.
          </p>
          <p>
            The global popularity ratings of the artists in your lists are aggregated to result in an Obscurity score
            which is compared to the Obscurify users in your country to show how unique (or energetic, danceable, and happy) a music taste you have.
          </p>
          <p>
            Obscurify can also make playlists of the music in your track lists and place them in your Spotify library - including the historical snapshots
            that are saved when you view your Obscurify profile each month.
          </p>
    </section>

    <section>
        <h2>F.A.Q.</h2>

        <h3>Is it secure?</h3>
        <p>
          Obscurify adheres to all the latest standards in web security. And as logging in to Obscurify is
          handled by Spotify, it's as secure as logging in to Spotify itself.
        </p>

        <h3>How is my data used?</h3>
        <p>
          To use Obscurify, you'll need to allow the app to have access to some of your account information -
          that being your Spotify user ID, the country your account is registered to, and a list of your top artists & tracks.
          Your data is only used to calculate an average with which users can compare their own scores.
        </p>

        <h3>Where does the artist and track ranking come from?</h3>
        <p>
        The content and order of your lists come directly from <a href="https://developer.spotify.com/web-api/">Spotify's API</a>.
        Popularity, genres, and musical traits are all determined by Spotify.
        </p>

        <h3>Why are there no (or few) results showing up in my lists?</h3>
        <p>
        If you listen in Private Mode, those songs won't show up in either list.
        If your account is new, it's normal for your All-Time list to be short,
        as it takes some time (one to two weeks) for Spotify to update their information.
        </p>

        <h3>I have some other issue (or concern, compliment, maybe a suggestion)</h3>
        <p>
          I'd like to know about it! <a href="mailto:oliveroalex@gmail.com">Send me an email!</a>
        </p>
    </section>
    <section>
        <h3>Credit</h3>
        <p>
          Background Photo on login page by Photo by MARK S. on Unsplash.
        </p>
    </section>
  </main>
</div>

