<div class="about">

	<div class="container">

		<div class="row">

			<div class="col-md-2 col-xs-1">
			</div>

			<div class="col-md-8 col-xs-10">

				<h2 class="about-header">
				  About
				</h2>
				<p class="about-text">
				  The goal of Obscurify is to help you better understand your own music taste. It uses
				  Spotify's <a href="https://developer.spotify.com/web-api/">Web API</a> to display your listening history, define
				  your top genres, and to recommend under-the-radar songs you might like.
				</p>
				<p class="about-text">
				  The global popularity ratings of the artists in your lists are aggregated to result in an Obscurity score
				  which is compared to the Obscurify users in your country to show how unique (or energetic, danceable, and happy) a music taste you have.
				</p>
				<p class="about-text">
				  Obscurify can also make playlists of the music in your track lists and place them in your Spotify library - including the historical snapshots
				  that are saved when you view your Obscurify profile each month.
				</p>

				<h5>Us</h5>
				<p class="about-text">
				  Obscurify was birthed in the winter of '16 by full-stack developer
				  <a href="mailto:oliveroalex@gmail.com">Alex Olivero</a>. Come fall '17, he would cross paths with the
				  enterprising <a href="mailto:npatel663@gmail.com">Nirmal Patel</a>, a front-end dev/UX designer
				  who would catalyze the site redesign that launched soon after.
				</p>

				<h5>Credit</h5>
				<p class="about-text">
					Vinyl Icon credited to Aleksandr Vector.  Found on <a href="https://thenounproject.com/search/?q=vinyl&i=1324878">Noun Project</a>.
				</p>

			</div>

			<div class="col-md-2 col-xs-1">
			</div>

		</div>

	</div>



</div>

<div ng-include src="'desktop/partials/footer.html'"></div>
