<div class="faq">

	<div class="container">
	
	  <div class="row">
		<div class="col-md-2 col-xs-1">
		</div>
		<div class="col-md-8 col-xs-10">
		
		  <h2 class="faq-header">Uh oh!</h2>

		  <h5>Something went wrong. You likely don't have enough Spotify history for Obscurify to work.</h5>
		  <p class="faq-text">
			Doesn't seem right? <a href="mailto:oliveroalex@gmail.com">Let me know.</a>
		  </p>

		</div>
		<div class="col-md-2 col-xs-1">
		</div>
	  </div>

	</div>

</div>
<div ng-include src="'partials/footer.html'"></div>
