<div ng-show="!doneLoading" class="loading-screen">
	<div ng-include src="'desktop/partials/loading.html'"></div>
</div>

<div ng-show="doneLoading">
	<div ng-include src="'desktop/partials/user_info.html'"></div>
	<div ng-include src="'desktop/partials/top_genres.html'"></div>
	<div ng-include src="'desktop/partials/obscurity.html'"></div>
	<div ng-include src="'desktop/partials/track_list.html'"></div>
	<div ng-include src="'desktop/partials/music_data.html'"></div>
	<div ng-include src="'desktop/partials/you_might_like.html'"></div>
	<div ng-include src="'desktop/partials/footer.html'"></div>
</div>
