<div class="faq">

	<div class="container">

	  <div class="row">
		<div class="col-md-2 col-xs-1">
		</div>
		<div class="col-md-8 col-xs-10">

		  <h2 class="faq-header">Privacy Policy</h2>

		  <p class="faq-text">
        Alexander Olivero built the Obscurify app as an Open Source app. This Service is provided by Alex at no cost and is intended for use as is.
  This page is used to inform visitors regarding my policies with the collection, use, and disclosure of information if anyone decided to use my Service.
  If you choose to use my Service, then you agree to the collection and use of information in relation to this policy. The information that I collect is used for providing and improving the Service. I will not use or share your information with anyone except as described in this Privacy Policy.
		  </p>

      <h5>Information Collection and Use</h5>

      <p class="faq-text">
          For a better experience, while using our Service, I may require you to provide us with certain personally identifiable information. The information that I request is retained on Amazon AWS's DynamoDB.
        This information is limited to a user's Spotify userID, their country, and the Spotify IDs of their all-time top 50 tracks and artists, and is obtained via Spotify's API.
      </p>

      <h5>Cookies</h5>
      <p class="faq-text">
        Cookies are files with a small amount of data that are commonly used as anonymous unique identifiers. These are sent to your browser from the websites that you visit and are stored on your device's internal memory.
This Service does not use these “cookies” explicitly. However, the app may use third party code and libraries that use “cookies” to collect information and improve their services. You have the option to either accept or refuse these cookies and know when a cookie is being sent to your device. If you choose to refuse our cookies, you may not be able to use some portions of this Service.
      </p>

      <h5>Contact Us</h5>
      <p class="faq-text">
        If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact me at oliveroalex@gmail.com
      </p>

		</div>
		<div class="col-md-2 col-xs-1">
		</div>
	  </div>

	</div>

</div>
<div ng-include src="'desktop/partials/footer.html'"></div>
