<div class="container-fluid you-might-like">
  <div class="container">

    <div class="row">
      <div class="col-sm-9 col-md-11">
        <div class="you-might-like-header">
          <h1>You Might Like</h1>
          <button class="show-more" ng-if="recommendedTrackDisplayGroup.length > 0" ng-click="showMoreClicked();">Show More</button>
        </div>
      </div>
    </div>

        <div class="you-might-like-card-container">
          <div class="row">
			<div ng-repeat="recommendedTrack in recommendedTrackDisplayGroup track by $index">
				<div class="col-sm-6 col-lg-4 col-xs-12">
				  <div class="you-might-like-card">
					<a ng-href="{{recommendedTrack.uri}}">
						<h4>{{recommendedTrack.trackName}}</h4>
						<p>{{recommendedTrack.albumName}}</p>
						<p>{{recommendedTrack.artistName}}</p>
					</a>
					<img class="you-might-like-card-img" ng-src="{{recommendedTrack.albumImageUrl}}" alt=""/>
				  </div>
				</div>
			</div>
 
          </div> <!--.row-->

          <div class="row">
            

          </div> <!--.row-->
        </div>

  </div>
</div>