my-moods-graph {


  .mood-container {
    text-align: left;
    margin: 0 16px;

    h3 {
      font-size: 24px;
      margin-bottom: 1em;
      margin-top: 16px;
      text-align: center;
    }

    .mood-graph-card:nth-child(1n+ 0) {
      .equalizer-container {
        margin-right: 12px;
      }
    }
  }
  .mood-graph-card-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    p {
      margin: 0;
    }
  }
  .mood-graph-card {
    min-height: 160px;
    box-shadow: 22px 21px 1px 0 rgba(0,0,0,0.50);
    letter-spacing: 1.41px;
    background: #fff;
    margin-bottom: 26px;
    margin: 0 16px 28px;
    border-radius: 5px;
    padding: 14px 24px;
  }



  .equalizer-container {
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;

    .bar {
      width: 8px;
      min-height: 10px;
      margin-right: 2px;
      transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
      will-change: transform;
      transform: scaleY(1);
      position: relative;
    }
  }
}

.swiper-slide-active {
  .equalizer-container {
      $bars: 12;
      $multiplier: 100 / $bars;

      &.level-one {
        @for $i from 0 through $bars {
            .bar:nth-child(#{$i}) {
                $saturation: 100 - (($i + 1) * $multiplier);
                background-color: #81D6E3;;
                animation: grow-one#{$i} #{random(700) + 1500}ms alternate infinite;

            }

            @keyframes grow-one#{$i} {
                @for $j from 0 through 10 {
                    #{$j * 10}% {
                        transform: scaleY(#{random(1)});
                    }
                }
            }
        }
      }

      &.level-two {
        @for $i from 0 through $bars {
            .bar:nth-child(#{$i}) {
                $saturation: 100 - (($i + 1) * $multiplier);
                background-color: hsla(140, 73%, 42%, 1);
                animation: grow-two#{$i} #{random(700) + 1500}ms alternate infinite;
            }

            @keyframes grow-two#{$i} {
                @for $j from 0 through 10 {
                    #{$j * 10}% {
                      transform: scaleY(#{random(2)});
                    }
                }
            }
        }
      }

      &.level-three {
        @for $i from 0 through $bars {
            .bar:nth-child(#{$i}) {
                $saturation: 100 - (($i + 1) * $multiplier);
                background-color: hsla(140, 73%, 42%, 1);
                animation: grow-three#{$i} #{random(700) + 1500}ms alternate infinite;
            }

            @keyframes grow-three#{$i} {
                @for $j from 0 through 10 {
                    #{$j * 10}% {
                      transform: scaleY(#{random(3)});
                    }
                }
            }
        }
      }

      &.level-four {
        @for $i from 0 through $bars {
            .bar:nth-child(#{$i}) {
                $saturation: 100 - (($i + 1) * $multiplier);
                background-color: hsla(140, 73%, 42%, 1);
                animation: grow-four#{$i} #{random(700) + 1500}ms alternate infinite;
            }

            @keyframes grow-four#{$i} {
                @for $j from 0 through 10 {
                    #{$j * 10}% {
                      transform: scaleY(#{random(4)});
                    }
                }
            }
        }
      }

      &.level-five {
        @for $i from 0 through $bars {
            .bar:nth-child(#{$i}) {
                $saturation: 100 - (($i + 1) * $multiplier);
                background-color: hsla(140, 73%, 42%, 1);
                animation: grow-five#{$i} #{random(700) + 1500}ms alternate infinite;
            }

            @keyframes grow-five#{$i} {
                @for $j from 0 through 10 {
                    #{$j * 10}% {
                      transform: scaleY(#{random(5)});
                    }
                }
            }
        }
      }

      &.level-six {
        @for $i from 0 through $bars {
            .bar:nth-child(#{$i}) {
                $saturation: 100 - (($i + 1) * $multiplier);
                background-color: hsla(140, 73%, 42%, 1);
                animation: grow-six#{$i} #{random(700) + 1500}ms alternate infinite;
            }

            @keyframes grow-six#{$i} {
                @for $j from 0 through 10 {
                    #{$j * 10}% {
                      transform: scaleY(#{random(6)});
                    }
                }
            }
        }
      }

      &.level-seven {
        @for $i from 0 through $bars {
            .bar:nth-child(#{$i}) {
                $saturation: 100 - (($i + 1) * $multiplier);
                background-color: hsla(140, 73%, 42%, 1);
                animation: grow-seven#{$i} #{random(700) + 1500}ms alternate infinite;
            }

            @keyframes grow-seven#{$i} {
                @for $j from 0 through 10 {
                    #{$j * 10}% {
                      transform: scaleY(#{random(8)});
                    }
                }
            }
        }
      }

      &.level-eight {
        @for $i from 0 through $bars {
            .bar:nth-child(#{$i}) {
                $saturation: 100 - (($i + 1) * $multiplier);
                background-color: hsla(140, 73%, 42%, 1);
                animation: grow-eight#{$i} #{random(700) + 1500}ms alternate infinite;
            }

            @keyframes grow-eight#{$i} {
                @for $j from 0 through 10 {
                    #{$j * 10}% {
                      transform: scaleY(#{random(9)});
                    }
                }
            }
        }
      }

      &.level-nine {
        @for $i from 0 through $bars {
            .bar:nth-child(#{$i}) {
                $saturation: 100 - (($i + 1) * $multiplier);
                background-color: hsla(140, 73%, 42%, 1);
                animation: grow-nine#{$i} #{random(700) + 1500}ms alternate infinite;
            }

            @keyframes grow-nine#{$i} {
                @for $j from 0 through 10 {
                    #{$j * 10}% {
                      transform: scaleY(#{random(10)});
                    }
                }
            }
        }
      }
    }
}
