my-music {
  .inactive-header{
    color:grey;
    text-decoration: line-through;
    opacity:0.8;
  }

  h1{
    text-align: center;
    font-size: 30px;
  }
  h2 {
    letter-spacing: inherit;
  }

  ion-select{
    max-width: 95%;
  }

  .select-text{
    display: none;
  }

  .button-md{
    text-transform: none;
  }

  img {
    // width: 50px;
    // height: 50px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    object-fit: cover;
    // position: relative;
    // bottom: 30px;

  }

  .stars {
    color: black;
    font-size: 12px;
    display: block;

  }

}


// The real styling

.swiper-pagination-bullet-active {
  background-color: color($colors, primary);
}

div.artist-container {
  width: 100%;
  margin-bottom: 24px;
  text-align: left;
  padding: 0 16px;
  position: relative;
  h2 {
    margin: 32px 0 16px;
    text-align: center;
  }
  .filter-options-container {

    padding-top: 16px;

    z-index: 2;
    form {
      padding: 0 32px;
    }
    p {
      margin: 0;
      padding: 12px 0;
    }
    [type="radio"]:checked,
    [type="radio"]:not(:checked) {
        position: absolute;
        left: -9999px;
    }
    [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label
    {
        position: relative;
        padding-left: 56px;
        cursor: pointer;
        line-height: 20px;
        display: inline-block;
        color: #fff;
    }
    [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        border: 1px solid #ddd;
        border-radius: 100%;
        background: #fff;
    }
    [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
        content: '';
        width: 12px;
        height: 12px;
        background: #65D26E;
        position: absolute;
        top: 4px;
        left: 4px;
        border-radius: 100%;
        -webkit-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    [type="radio"]:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    [type="radio"]:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
  }

  .artist-container-header {
    max-width: 420px;
    position: relative;
    margin: 0 auto;
  }
  .filter-btn {
    background-color: #2D3436;
    border: none;
    height: 29px;
    width: 44px;
    border-radius: 19px;
    color: white;
    font-size: 17px;
    padding-top: 1px;
    top: 0px;
    right: 0px;
    position: absolute;
    z-index: 3;
    bottom: auto;
    left: auto;
  }

  .add-playlist-btn {
    background-color: transparent;
    border: none;
    border-radius: 19px;
    color: #2D3436;
    font-size: 17px;
    padding-top: 1px;
    padding-bottom: 16px;
    z-index: 1;
    display: block;
    text-align: left;
      span {
        /* Create Playlist: */
        font-family: Roboto;
        font-size: 14px;
        font-weight: bold;
        color: black;
        letter-spacing: 1.35px;
        text-align: center;
        margin-right: 6px;
        z-index: 1;

      }
  }

}

div.card-list {
  /* Rectangle 7: */
  background: #2D3436;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 2px;
  min-height: 300px;
  width: 100%;
  margin: 0 auto;
  max-width: 420px;
  height: calc(100% + 8px);
  display:flex;
  flex-direction: column;

  overflow: hidden;
  position: relative;
  .card-list-item {
    display: block;
    position: relative;
    will-change: height;
    min-height: 45px;
    overflow: hidden;
    img {
      z-index: -10;
      display: block;
      position: absolute;
      opacity: 0;
      transform: scaleY(0.5);
      transform-origin: center;
      top: 0;
      transition: opacity 1s ease;

    }
    p, span, a {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      font-size: 24px;
      color: #000000;
      letter-spacing: 1.04px;
      margin: 0;
    }

    &.active {

      width: calc( 100% + 5px);
      left: -3px;
      min-height: 180px;
      img {
        z-index: 0;
        display: block;
        position: absolute;
        top: 0;
        opacity: 1;
        width: calc(100% + 7px);
        transform: scaleY(1);
        visibility: visible;
      }

      .info {
        margin-top: 80px;
        background: rgba(0, 0, 0, 0.55);
        border-radius: 2px;
        height: 100px;
        padding-top: 1px;

        display: flex;
        justify-content: flex-start;

        align-items: center;

        flex-direction: column;
        width: 100%;
        bottom: 0;
        animation: moveUp .5s cubic-bezier(0.39, 0.575, 0.565, 1);

        @keyframes moveUp {
          from {transform: translateY(100px);}
          to {transform: translateY(0px);}
        }
        span, a {
          top: 18px;
        }

        button {
          background-color: #65D26E;
          width: 125px;
          height: 36px;
          text-align: center;
          font-size: 10px;
          color: #fff;
          display: block;
          border-radius: 25px;
          font-weight: bold;
          margin: 0 auto;
        }

        .primary-info{
          margin-bottom: 5px;
          margin-top: 9px;
        }

        .secondary-info{
            font-size: 12.5px;
            display:block;
            margin-top: 0px;
            margin-bottom: 8px;
            opacity: 0.85;
            letter-spacing: 1.0px;
        }
      }
    }
    .info {
      text-align: center;
      position: relative;
      padding-left: 40px;
      padding-right: 26px;
      width: 100%;
      left: 0;
      overflow: hidden;
      height: 100px;
      position: absolute;


      span {
        position: absolute;
        top: 0;
        left: 14px;
        transition: .3s ease;
      }
      p, span, a {
        color: white;
        font-size: 14px;
        top: 12px;
      }
      a {
        text-decoration: none;
        position: absolute;
        right: 12px;
      }
      p {
        margin: 14px 0;
      }

      button {
        display: none;
      }

      .secondary-info {
          display: none;
      }
    }
  }
}

.primary-button {
  margin: 0 auto 16px;
}
