page-about {

  ion-content {
    background-color: #fffbfa !important;
  }
  ion-item {
    background-color: #fffbfa !important;
  }

  .logout{
    margin-top:20px;
    display: block;
    padding-bottom:10px;
  }

  h2{
    margin-top:40px;
  }

  .toolbar-background {
    opacity: 0;
  }

}
